[2015-08-12 18:55] divyakumarjain opened #1 "would like to help in angular2 migration"
Saw readme file.let that you are looking for help. Let me know how I can help.

[2015-11-18 16:08] #1 closed

[2015-12-23 02:17] mohammedzamakhan opened #2 "Angular is Beta, so Formly development makes sense now"
I would love to see formly development to start as we have angular2 in beta, lets start this work, I would love to contribute to the project

[2016-02-29 09:12] drbourbon commented on #2
+1

[2016-03-07 13:50] divyakumarjain commented on #2
+1

[2016-03-07 14:05] brutalcrozt commented on #2
@tilmanpotthof what do you think?

[2016-03-08 20:04] renkema79 commented on #2
+1

[2016-03-17 11:22] barkoczi commented on #2
I would like to contribute to the project, let me know the details.

[2016-03-19 02:06] brutalcrozt commented on #2
@barkoczi at this time [we need maintainer](https://github.com/formly-js/angular-formly/issues/638)

[2016-03-25 15:25] tb commented on #2
https://angular.io/docs/ts/latest/cookbook/dynamic-form.html

[2016-04-01 17:04] akeller commented on #2
Angular2 has a ton of built in support for data driven and template driven form building including a [formBuilder ](https://angular.io/docs/js/latest/api/common/FormBuilder-class.html). I would challenge that formly's concepts are mostly addressed in the core of the framework.

[2016-04-01 19:10] mohammedzamakhan commented on #2
@akeller Angular2 has really good data driven and template driven form building for sure, but it does not have something that makes form building easier for business application. By using Formly you can develop complex forms, without writing a line of html template. Basically what I mean is, we have to make the model driven forms from Angular 2 to much easier form, please look at Angular 1's http:

[2016-04-04 23:14] mohammedzamakhan commented on #2
Closing this issue, since I have started working on it

[2016-04-04 23:14] #2 closed

[2016-04-11 16:44] mohammedzamakhan opened #7 "Bundle into one JS file for npm installs"

[2016-04-12 15:20] mohammedzamakhan opened #9 "Supporting Multi Checkbox"

[2016-04-13 20:55] #7 closed

[2016-04-13 21:25] mohammedzamakhan opened #12 "'focus' can only be true for one field"

[2016-04-13 21:26] mohammedzamakhan opened #13 "templateOptions should be defined"

[2016-04-15 04:40] mohammedzamakhan opened #14 "Hide expression should be able to receive Expressions"

[2016-04-16 03:49] mohammedzamakhan opened #15 "Separate Formly and Templates"

[2016-04-26 09:52] aMoRRoMa opened #18 "not bundle with webpack (lost control.service.d.ts)"
[default] /Users/roma/git/sos_manager_front/node_modules/ng2-formly/src/components/formly.form.d.ts (3,32):
    Cannot find module './../services/control.service'.
[default] /Users/roma/git/sos_manager_front/node_modules/ng2-formly/src/main.d.ts (4,32):
    Cannot find module './services/control.service'.
[default] /Users/roma/git/sos_manager_front/node_modules/ng2-formly/src/services/formly.provi

[2016-04-30 13:58] brutalcrozt commented on #18
Hello @aMoRRoMa , thanks for your issue. Somehow i don't use angular 2 yet, maybe @mohammedzamakhan can give some clear point.

[2016-05-03 15:55] fdu-axiometrics opened #19 "support for typeahead"
Please take a look at this ng2 module for bootstrap 3/4. It has typeahead component you might be able to use.

http://valor-software.com/ng2-bootstrap/

This would be very helpful!

Thanks!

[2016-05-04 17:15] benoror opened #21 "Efforts towards a web components/vanilla js formly core library"
Do you think a core lib can done using either WebComponents or Vanilla JS?

Considering other frameworks would benefit from it: https://github.com/formly-js/ember-formly/issues/1

Fyi, there was some kind of initiative some time ago: https://github.com/forms-js

[2016-05-04 17:16] benoror opened #22 "Differentiator with Ng2 Forms"
I've been thinking what's the differentiator of using this lib instead of **Ng2 Form components & Form Builder**:

- https://angular.io/docs/ts/latest/guide/forms.html
- http://learnangular2.com/forms/#formbuilder

I put the issue on the table to see if some synergy can be done, maybe this can be re-used in some way, trying not to re-invent the wheel.

This might be related to: https://github.com/

[2016-05-04 17:45] mohammedzamakhan commented on #19
@fdu-axiometrics You can create a custom type of element, as shown in the example

https://github.com/formly-js/ng2-formly/blob/master/demo/hello.ts#L99-L102

[2016-05-04 17:45] #19 closed

[2016-05-04 17:49] mohammedzamakhan commented on #22
@benoror if you look at formly, you get the benefit of not writing a line of html, where as if you would have used form builder, you would have had to write the html markup.

[2016-05-04 20:40] Mig1st4ck opened #23 "Stream of Changes"
With ng2 ControlGroup you can subscribe to the list of changes in the form.

This can be interesting if you need to do something when the form changes.

How can we do this with ng2-formly??

[2016-05-04 20:45] Mig1st4ck opened #24 "Not working expressionProperties"
In the current demo the expressionProperties don't work.

Also expressionProperties should work with both expressions (strings) and (functions) same as the original formly.

[2016-05-04 20:53] Mig1st4ck commented on #22
Formly is cool if you want to build a form with basically only Json. its easy to create big forms and allow great control of the html emited because all the html its from the templates.

[2016-05-04 21:29] ckniffen opened #25 "Support templateManipulators"
The ng2 version needs to support templateManipulators.

[2016-05-04 21:29] ckniffen opened #26 "Support wrappers"
The ng2 version needs to support wrappers.

[2016-05-04 21:32] ckniffen opened #27 "Support ngModelAttrs."
The ng2 version should support the ngModelAttrs feature.

[2016-05-04 21:47] benoror commented on #22
Fair enough, thanks for the feedback guys!

[2016-05-04 21:47] #22 closed

[2016-05-05 00:53] #21 closed

[2016-05-05 03:12] benoror commented on #21
Hey @mohammedzamakhan, any particular reason to close this one?

[2016-05-05 11:52] divyakumarjain opened #29 "npm script flow.compile:system not working on windows"
npm run flow.compil.system on windows causes following issue

[code]

To fix this problem created bundle-system and bundle-system.cmd in .config folder and update npm script location but it failed with similar error. But surprisingly it works when i move bundle-system.cmd to node_module/.bin

[2016-05-06 08:37] Mig1st4ck commented on #29
simple change package.json script tag to this.

`
    "flow.compile:system": "node ./.config/bundle-system.js",
`

[2016-05-06 19:46] fdu-axiometrics opened #32 "error TS2307: Cannot find module './control.service'."
Just installed with npm and added to my project. Got following errors when start my app.

BTW, I am using webpack not systemjs

ERROR in C:\Users\fdu\Documents\Training\sing\angular2-seed\node_modules\ng2-formly\src\services\formly.providers.d.ts
    (1,32): error TS2307: Cannot find module './control.service'.

    ERROR in C:\Users\fdu\Documents\Training\sing\angular2-seed\node_modules\ng2-forml

[2016-05-07 02:32] #29 closed

[2016-05-07 02:34] #9 closed

[2016-05-08 09:17] MathijsHoogland commented on #32
What Angular version are you using?

[2016-05-09 14:00] fdu-axiometrics commented on #32
beta15

[2016-05-10 15:48] erynnb commented on #32
I think the npm package is missing the control.service.ts file. I was getting this error as well, then just copied the [control.service.ts file](https://github.com/formly-js/ng2-formly/blob/master/src/services/control.service.ts) into the ./services folder and it went away.

[2016-05-10 23:25] mohammedzamakhan opened #35 "Update to Angular 2.RC1"

[2016-05-12 06:47] #14 closed

[2016-05-14 01:28] mohammedzamakhan commented on #35
#37

[2016-05-14 15:17] #35 closed

[2016-05-16 19:34] #13 closed

[2016-05-16 19:34] #15 closed

[2016-05-16 19:34] #32 closed

[2016-05-16 22:05] divyakumarjain commented on #18
is this duplicate of #32

[2016-05-17 01:04] #18 closed

[2016-05-17 20:09] fdu-axiometrics opened #39 "Uncaught ReferenceError: System is not defined"
I got following error when trying to use ng2-formly.

ng2-formly.js:1Uncaught ReferenceError: System is not defined

I'm using angular rc1 with webpack.
from this seed project https://github.com/AngularClass/angular2-webpack-starter

[2016-05-18 13:18] #24 closed

[2016-05-18 13:35] mohammedzamakhan opened #41 "Support for Validation to be An Array of strings"

[2016-05-18 14:05] fdu-axiometrics commented on #39
anyone got an idea for this?

We are in need of this library, but this thing really prevented us from using it.

[2016-05-18 16:21] divyakumarjain commented on #39
Should we move away from typescript compiling to systemjs module. May be we can compile typescript to commonjs which is supported by both systemjs and webppack.

[2016-05-18 16:28] matthieubouvierthales opened #42 "Typescript not compiling since 2.0.0-beta.1"
The ng2-formly.d.ts file is missing in npm lasts packages (2.0.0-beta.1 and 2.0.0-beta.2). So the typescript code is not compiling.

2.0.0-alpha.5:
_$ ls -l node_modules/ng2-formly/
total 44
4096 mai   18 18:19 bundles
 990 avril  1 06:08 gulpfile.js
1096 avril  6 19:28 LICENSE
  63 avril 13 20:43 **ng2-formly.d.ts**
 623 avril 13 20:43 ng2-formly.js
4096 mai   18 18:19 node_modules
3109 mai   18

[2016-05-20 17:47] mohammedzamakhan opened #43 "Group Validation"

[2016-05-23 19:25] mohammedzamakhan opened #45 "Two way Data Binding"
@divyakumarjain Can we look into this, I think this got broke after the control group logic was removed or something.

https://github.com/formly-js/ng2-formly/commit/09f97781f20f7527975eb37879509ed2216cf9b8#diff-69a89068190b42d36203ed92bed384f7L41

[2016-05-24 02:23] divyakumarjain commented on #45
@mohammedzamakhan Can you please provide more detail about the issue so that we can reproduce the issue and fix it.

[2016-05-24 03:31] divyakumarjain commented on #45
I think you are referring to Change Email Button functionality.

[2016-05-24 03:47] mohammedzamakhan commented on #45
@divyakumarjain Yes 👍

[2016-05-25 06:13] divyakumarjain commented on #45
As part of changeEmitter.subscribe the control group was getting created everytime there was a change thus external changes where picked up template directives.

https://github.com/formly-js/ng2-formly/pull/38/commits/09f97781f20f7527975eb37879509ed2216cf9b8#diff-69a89068190b42d36203ed92bed384f7L50

I dont thinking creating Control Group everytime will be best solution. Looking various blogs and p

[2016-05-26 03:27] #39 closed

[2016-05-26 03:27] #42 closed

[2016-05-26 03:55] mohammedzamakhan opened #47 "Demo throws error on Chrome (only on MAC)"
This error is being thrown on Chrome on Mac, but runs fine on all Chrome on Windows

[code]

[2016-05-26 04:50] divyakumarjain commented on #45
Did lot of reading around change detection in Angular following are some helpful link related to this issue.

http://stackoverflow.com/questions/34635269/how-to-pass-input-params-to-an-angular-2-component-created-with-dynamiccompon
http://stackoverflow.com/a/34855772

So far theoretically there seems to be two possible way to solve this.
1. ngModel with ValueAccessor: Here writeValue method can be

[2016-05-26 07:56] matthieubouvierthales opened #48 "Version 2.0.0-beta.3 typings error at installation"
Here are the error messages :

[code]

There is a possibility to install typings globaly (is it a workaround or a new step in ng2-formly installation?):

[code]

But the ng2-formly.d.ts file is still missing and the project using ng2-formly is not compiling.

[2016-05-26 10:41] dschoeni commented on #48
Worked good for me.

[code]

Also importing and building using webpack worked like a breeze with beta3.

[2016-05-26 11:26] mohammedzamakhan commented on #48
@micouz Can you take a look into this

[2016-05-26 20:00] micouz commented on #48
Sorry guys, a couple of things went wrong. I believe it should be fixed with this new PR.

[2016-05-27 05:00] micouz commented on #48
@mohammedzamakhan Could you publish a new version ? Latest is still beta.3

[2016-05-28 11:53] divyakumarjain commented on #45
Following plnkr url showcases problem with two way binding for dynamically created directive

http://plnkr.co/edit/MBYdMP?p=preview

[2016-05-28 15:04] mohammedzamakhan commented on #48
@micouz Done

[2016-05-28 15:08] mohammedzamakhan commented on #45
@divyakumarjain Is their any recommendations from Angular Team, if not is their a existing issue created about this in Angular repo?!

[2016-05-28 16:14] dschoeni commented on #48
This hasn't worked as it should've guys:

After installing the module, there is more or less everything important missing. I can check out the repo, build it and use it with relative paths, but not with npm.

[code]

[2016-05-29 11:01] divyakumarjain commented on #45
Few Post on Stacktrace talk about using observable on parent which is monitored by dynamic child. Parent should emit event on observable with right key else all the dynamic child will get the event. For this we need to look at ngOnChange at parent. But ngOnChange will not work with ngDoCheck as per angular documentation. Also if doe not work with complex objects.

Also i have raised below issue on

[2016-05-29 11:36] micouz commented on #48
@dschoeni can you make sure you got the beta.4 version ?

Here's what I got:
[code]

[2016-05-29 18:33] dschoeni commented on #48
No idea what happened, but another clean & reinstall using npm fixed it. I had the beta.4 version specified in my package.json. Welp, NPM caching goodness I guess.

Thanks for the great work and your quick response!

[2016-05-29 20:39] #48 closed

[2016-05-29 20:46] mohammedzamakhan opened #51 "Can we add divyakumarjain to angular2 formly core team member?"
@kentcdodds please add @divyakumarjain to the angular 2 formly core team.

Thanks

[2016-05-29 20:56] mohammedzamakhan commented on #48
@micouz how do you import components? Through systemjs, I have to do, for it to work
``
import {FormlyConfig, TemplateDirectives, FormlyForm, FormlyEventEmitter} from 'index';
[code]
import {FormlyConfig, TemplateDirectives, FormlyForm, FormlyEventEmitter} from 'ng2-formly/index';
[code]

[2016-05-29 21:01] mohammedzamakhan opened #52 "OPINION"
I think we should rename our publishing to npm like how angular team did it.

Instead of importing like

[code]

to

[code]

Any other opinions/comments/suggestions

@divyakumarjain @micouz @TheMcMurder @MathijsHoogland

[2016-05-30 03:36] TheMcMurder commented on #52
I actually like this idea. I think we're going to see a lot of angular specific libraries follow this convention.

[2016-05-30 08:17] matthieubouvierthales commented on #48
I have 2 problems with transpilation:

- I think the ng2-formly.d.ts file (and all .d.ts files) has to be in ng2-formly directory and not in ng2-formly/bundles.
- After copying ng2-formly.d.ts file and using `"import { FormlyProviders } from 'ng2-formly/ng2-formly';"`, I got the error:
[code]

[2016-05-30 11:10] divyakumarjain opened #53 "Support Angular Universal"
https://github.com/angular/universal

I am dont think Support for Angular Universal is a priority. But I was playing formly with Universal and debugging the issues.

Seems like there are few do's and don't

1.  Should not use this.elem.nativeElement

Will document those do's and don'ts for now. So that later support for angular universal would be easy.

Let me know what everybody thinks. We can st

[2016-05-30 12:56] micouz commented on #48
@mohammedzamakhan I'm not very good with System.js (I'm more a WebPack user), but I think some things are missing from your config.js file. Something like:
` map: {
    'ng2-formly': 'https://cdnjs.cloudflare.com/ajax/libs/ng2-formly/2.0.0-beta.4'
  },`
and:
`  packages: {
    'ng2-formly': {
      main: 'ng2-formly.js',
      defaultExtension: 'js'
    }
  }`

[2016-05-30 12:59] micouz commented on #48
@matthieubouvierthales The bundles folder is used for CDN publication. In other cases, you will import the code from the lib folder.
When importing from the project, you should use:
`import { FormlyProviders } from 'ng2-formly`

[2016-05-30 13:06] micouz commented on #52
Nice ! :+1:
However, just to stay on the safe side, maybe we could ask someone close to or in the angular team if it is a good idea ?

[2016-05-30 16:27] matthieubouvierthales commented on #48
@micouz You're right, we have to import with `import { FormlyProviders } from 'ng2-formly'` and not with `import { FormlyProviders } from 'ng2-formly/ng2-formly' ` like documented ont the [main page](https://github.com/formly-js/ng2-formly#quick-start).

Thanks for your work and your response !

[2016-05-30 19:31] micouz commented on #48
@matthieubouvierthales Yes you're right, we changed the build system but not the documentation yet. I'm putting it on my todo list !

[2016-05-30 20:22] kentcdodds commented on #51
Done

[2016-05-30 20:22] #51 closed

[2016-05-31 15:54] #45 closed

[2016-05-31 15:57] mohammedzamakhan commented on #52
@pkozlowski-opensource @johnpapa @gdi2290 @robwormald

Can you guys help us in this decision.

Thanks in advance 😄

[2016-05-31 16:06] gdi2290 commented on #52
`import {} from 'ng2-formly';`

[2016-05-31 16:12] mohammedzamakhan commented on #52
@gdi2290 I saw even material2 started using @

[code]

Just wondering if the angular team is going to get rid of @ in the future releases or whats the reason you don't want formly to use @.

Thanks 👍

[2016-05-31 16:15] divyakumarjain opened #54 "Two Way binding for Radio button does not work"
Two binding issue discussed in https://github.com/formly-js/ng2-formly/issues/45 was fix for most of the component except for radio button.

When [(ngModel)] is added to the Radio button then the RadioButtonValueAccessor throws an error that _state object is undefined when radio button is switched. This seem like a bug in Angular. We will create a small plunk sample and share it on Angular github

[2016-05-31 16:22] gdi2290 commented on #52
yeah I think you're looking for something like
`@formly/ng2`
  | `@formly/directives`
  | `@formly/templates `
  | `@formly/core`
where `@formly/core` is used both in other frameworks. If you don't plan on supporting other frameworks then `@formly/core` works as the default path for ng2.

[2016-05-31 16:24] gdi2290 commented on #52
I want this to be able to render on the server/webworker so it would also be great if you separated the platform logic and interacted with the renderer directly

[2016-05-31 16:29] mohammedzamakhan commented on #52
@gdi2290 Thats in our pipeline :) ( #53 )

Thanks for your suggestion

[2016-05-31 16:32] gdi2290 commented on #53
use the renderer when interacting with this.elem.nativeElement and you should be fine

[2016-05-31 16:43] mohammedzamakhan opened #55 "More Repo to separate Core with Templates"
Hi @kentcdodds,

We wanted more repositories on Angular 2 version of Formly, like how we have for Angular 1. Want to separate out Templates with Formly. We currently have templates of bootstrap in this repo, so we need a repo for bootstrap now, and then later on we might look for contributions for Ionic 2 etc.

Thanks

[2016-05-31 17:05] divyakumarjain commented on #53
@gdi2290 Thanks for you input. I think these input would be valuable. Are you referring to following class?

https://angular.io/docs/ts/latest/api/core/Renderer-class.html

are there any samples to look at to understand this class better.

[2016-05-31 18:48] mohammedzamakhan commented on #53
I have used it to add event listeners on the window sometimes, like you can see it in primeng repo

https://github.com/primefaces/primeng/blob/587510d21af456f48c1069a7b01860564fce164c/components/menu/menu.ts

[2016-05-31 19:07] robwormald commented on #52
i wouldn't do this just for the sake of it, unless you really have a need to break out into smaller packages that are functionally independent - it's a non-trivial amount of work managing the process.

It makes sense for things like @ngrx or @material because they have a number of independently functional components or services, that can be independently distributed.

I'm not saying *don't*, just.

[2016-05-31 20:10] mohammedzamakhan commented on #52
@robwormald

I think it makes sense for our repo to have separate functional components, since we want to have templates are separate, and again the templates could be of bootstrap, ionic, material2 or any other.

Thanks a lot

[2016-05-31 20:13] mohammedzamakhan commented on #51
Thanks a lot @kentcdodds

Welcome @divyakumarjain as a new FormlyJS member. We appreciate your contributions to this repo. You have made invaluable contributions.

[2016-05-31 20:16] kentcdodds commented on #55
@mohammedzamakhan, are you unable to create new repositories? I'll see what I can do to make things easier for you to manage things yourself.

[2016-05-31 20:18] kentcdodds commented on #55
Based on [this](https://help.github.com/articles/repository-permission-levels-for-an-organization/#creating-repositories) you should have the permission you need to create repositories.

[2016-05-31 21:11] mohammedzamakhan commented on #55
<img width="1109" alt="screen shot 2016-05-31 at 4 10 41 pm" src="https://cloud.githubusercontent.com/assets/2327532/15690682/4ef7d1fc-274a-11e6-9fa1-353a37f2c1b5.png">

[2016-05-31 21:16] kentcdodds commented on #55
Alright, you should be good to go now. I didn't realize I had to enable that :-)

[2016-05-31 21:16] #55 closed

[2016-05-31 22:38] cudasteve opened #56 "extend and multiple inheritance"
I'm not sure what the appetite for major refactoring is on this rewrite, but one thing that was a little non-optimal in the original formly was the single-inheritance model used in the "extend" functionality.  Is there any interest in supporting more of a mixin-style to extending functionality of types, wrappers, manipulators, etc?

For example, in my ng1-formly project, I have a `base` type that

[2016-06-01 02:07] mohammedzamakhan commented on #56
This is not Formly for Angular 1.x, this is Formly for Angular 2.x version. This is not a rewrite of angular-formly in any way or form.

[2016-06-01 02:07] #56 closed

[2016-06-01 17:06] cudasteve commented on #56
No I get that.  Sorry for my ignorance, but does that mean you're doing a completely new architecture?  Or does that mean you're using the exact same architecture as formly for ng1 but just adapting it for ng2?

[2016-06-01 21:32] mohammedzamakhan commented on #56
@cudasteve We have new architecture completely

[2016-06-02 00:47] mohammedzamakhan commented on #52
To publish with @, npm will require us to make an organization which is paid on npm, so I think we should think about something else instead 😭

[2016-06-02 08:00] divyakumarjain commented on #54
I was able to reproduce this issue with pure angular 2 without formly.

http://plnkr.co/edit/1G2mPd?p=preview

Next step is to debug it further and if it does not go well will raise an issue angular team.

[2016-06-03 17:23] mohammedzamakhan commented on #52
I am thinking about

import {} from "formly";

or

import{} from "formly-bootstrap"

or

import {} from "formly-ionic"

or

or import {} from "formly-material"

[2016-06-06 20:59] TheMcMurder commented on #52
I would prefer something like

[code]
all templates could go in the 'template/${frameworkName}' directory for each css framework that is supported.

I'm still pretty new to publishing things on NPM but couldn't we follow the same structure you had planned without the `@`?

[2016-06-11 09:35] divyakumarjain commented on #54
Have raised issue with angular team with a sample https://github.com/angular/angular/issues/9153

[2016-06-14 11:55] matthieubouvierthales opened #58 "Pipes in expressionProperties ?"
It seems that pipes are not supported in expressionProperties.

HTML:

[code]

JS:
[code]

The "Hello" string is well uppercased in HTML but the placeholder raise an error in console:

[code]

The exception appeared when I tried to use "translate" pipe from ng2-translate but there is the same behavior from "uppercase" pipe from angular2.

[2016-06-14 20:12] mohammedzamakhan commented on #58
Use Pipes in the the ts rather than sending them into expressionProperties

http://stackoverflow.com/a/35144872

[2016-06-15 08:12] matthieubouvierthales commented on #58
Hello,

If I understand your answer, I should use pipe in my ts file like this:
[code]

It could be a good solution, but:
- the label and placeholder are not dynamically updated (for language change for example).
- the pipes are available in angular formly expressionProperties and a good way, in my opinion, to manage dynamic updates.

[2016-06-16 20:31] TheMcMurder opened #59 "Upgrade to RC2"
At some point we'll need to upgrade this to [RC2](https://github.com/angular/angular/blob/master/CHANGELOG.md)

I was going to see if I could tackle this issue to help but I don't see anything about contributing in the markdown and I don't see any unit tests to validate that the upgrade would work. There aren't a lot of breaking changes but there are some.

Thoughts?

Edit: I should add that I'm t

[2016-06-17 15:41] matthieubouvierthales commented on #58
Hello,

I'm not sure that my last comment was read.
I think that issue must be reopened or an enhancement has to be created.

[2016-06-19 00:20] divyakumarjain commented on #43
@mohammedzamakhan can we add more description to this issue so that somebody can pickup.

[2016-06-20 16:26] mohammedzamakhan commented on #43
In Angular 2, we have group validators, like if you have two fields for example password and retype password, and we need to validate if both values are equal or not, then probably we need something like group validators

[2016-06-20 16:31] #54 closed

[2016-06-22 11:25] abodacs opened #62 "Update to RC3 - dynamic form"
i wonder how to merge angular formly with this
https://angular.io/docs/ts/latest/cookbook/dynamic-form.html

[2016-06-22 19:57] TheMcMurder commented on #62
That API is very similar to angular-formly (1.x)

[code]

This is really cool.

[2016-06-22 20:07] #53 closed

[2016-06-24 02:43] aluanhaddad opened #63 "Aurelia-formly"
I've been an Angular 1.x developer for several years now. One of the things which makes it such a strong platform are a number of great libraries. Of these, I would put angular-formly in the top 3, right alongside ui-router and angular-bootstrap. However, we now live in a richer ecosystem with more frameworks to choose from than ever.

After having spent time using both angular 2 and Aurelia, I pe

[2016-06-24 02:48] aluanhaddad commented on #63
/cc @kentcdodds @EisenbergEffect

[2016-06-24 02:51] kentcdodds commented on #63
I think that'd be fantastic. Why don't you start a repo on your own user, and if it becomes a thing, we can transfer it to the formly-js org :+1:

[2016-06-24 02:54] aluanhaddad commented on #63
@kentcdodds that was my plan. Thanks for your support and enthusiasm!

[2016-06-24 02:58] EisenbergEffect commented on #63
@aluanhaddad We'd love to see you create a formly for Aurelia. Definitely catch up with @jdanyow who is working on our validation and can assist you with any integration guidance you may need. Keep us posted. I'm excited to see what you put together!

[2016-06-24 03:08] aluanhaddad commented on #63
@EisenbergEffect thanks! I'll be sure to do that. It may take me a little while to get this off the ground is I'm fairly new to developing client-side libraries, having worked mainly in the application space, but I'm ready to get started and very excited.

[2016-07-07 16:35] crouti opened #66 "EXCEPTION: No Directive annotation found on FormlyForm"
Hi there,

Just setup ng2-formly with IonicV2 like this:

[code]

But it raises an error when launching in web browser with serve -c

[code]

Any idea ?
Thank you very much

[2016-07-21 11:01] dschoeni commented on #66
Can confirm this issue after upgrading to angular2-rc4. Any idea where this issue could be caused? I have checked the changelogs of rc4 and not found any hints why this broke ng2-formly.

[2016-07-25 17:56] mptorrejon opened #67 "select options not showing"
Hello,
I have this piece of code along with other inputs and checkboxes, but I do not know why select does not show the options within my array.

`{
				className: "col-xs-8",
				key: "dropdown",
				type: "select",
				templateOptions: {
					options: [
						{
				                  "name" : "Option-A",
				                  "value": "OptionA",

				               }
					]
				}
			}
`
If I set

[2016-07-25 19:36] #67 closed

[2016-07-26 08:49] gnovotny commented on #66
ng2-formly has outdated dependencies. Removing or renaming the node_modules folder inside of the ng2-formly folder will solve this issue.

[2016-07-26 10:28] crouti commented on #66
Thank you guys for your help, i've just upgrade to angular2-rc4 (changing my package.json dependancies), then rename the node_modules inside of ng2-formly, as well as upgrade its package.json in order to depend on angular2-rc4, and now here's the error at launch (still with ionic serve -c):

`3     704490   group    EXCEPTION: Error: Uncaught (in promise): EXCEPTION: Error in ./HomePage class Home

[2016-07-26 12:57] crouti opened #68 "ng2-formly.min.js:1 Uncaught ReferenceError: System is not defined"
Importing ng2-formly.min.js from CDN
`https://cdnjs.cloudflare.com/ajax/libs/ng2-formly/2.0.0-beta.5/ng2-formly.min.js`

loading the file in the Ionic2 index.html results in the console error mentioned in title

`ng2-formly.min.js:1 Uncaught ReferenceError: System is not defined`

Any idea ?
Thanks

[2016-07-28 18:26] mptorrejon opened #69 "having multiple button in the form"
I know that in formly-forms for angular1 there is a
type: 'button'
which will create a button and bind a callback(function) to it.

Is there something similar in ng2-formly? I would like to add multiple buttons with different functionality in a form.

Please advise,

[2016-08-01 06:17] stephanjust commented on #69
AFAIK formly does not allow you to do that. You could use `input `elements of type `button`, but you can not specify a callback to be triggered.

However, formly can easily be extended. If you have a look at [the demo in line 62](https://github.com/formly-js/ng2-formly/blob/master/demo/hello.ts):
[code]
This is were you tell formly which component to use for which type. If you want add a new type,

[2016-08-03 04:57] divyakumarjain opened #70 "Update ng2-formly to use @angular/formly instead of deprecated forms api"

[2016-08-08 18:28] #70 closed

[2016-08-10 19:41] divyakumarjain commented on #12
Updated the pull request with latest from master.

[2016-08-10 19:44] divyakumarjain opened #72 "Use @angular/formly instead of deprecated forms api breaks radio button"

[2016-08-10 20:13] #12 closed

[2016-08-10 20:42] divyakumarjain commented on #63
Closing this issue as Formly for Aurelia should be created in new repository and issue should be tracked there.

[2016-08-10 20:42] #63 closed

[2016-08-11 14:26] stephanjust opened #74 "Feature requests: add styling support for field-groups and make fields optional"
The demo is a great example on how to use the bootstrap row and col-** classes to create a proper form. However, bootstrap allows to [nest rows](http://getbootstrap.com/css/#grid-nesting) but that behavior can't get replicated by formly.

Requirements to get it to work:
1) Encapsulate ```FormlyFieldGroup``` in a div and allow to set it's class.
2) Allow to set the class in the for-loop of ```Forml

[2016-08-12 07:08] stephanjust opened #75 "Several templates not checking for disabled attribute"
In comparison to input, checkbox and textarea, the templates for select, multicheckbox and radio are not evaluating the disabled attribute of templateOptions and therefore can't be disabled.

[2016-08-12 08:24] GaryWenneker commented on #47
Having the same issue on Windows with latest version of Angular (removed the node_modules folder in the ng2formly dir, otherwise it won't bootstrap).

The form renders and stuff is changed. when using a hideExpression it fails and throws an exception:

VM81564:77 ERROR CONTEXT:BrowserDomAdapter.logError @ VM81564:77ExceptionHandler.call @ VM81384:74(anonymous function) @ VM81397:276schedulerFn @ V

[2016-08-13 12:31] divyakumarjain commented on #74
@stephanjust do you have a sample where this issue is reproduced? so that we can quickly debug it.

[2016-08-13 13:04] divyakumarjain commented on #75
Pull request 76 opened for fixing multicheckbox and radio button.

[2016-08-13 13:37] divyakumarjain commented on #75
Have updated the pull request for Select control too.

[2016-08-13 20:27] stephanjust commented on #74
Well, a lacking feature is kinda hart to give samples for, but I assume examples for the supposed behavior could help.

https://plnkr.co/edit/SS40AbzaRuVwNFnqc77C?p=preview
This is the desired outcome (borders only to visualize it). One row containing two columns, whereas the first column contains two rows again (potentially infinite).

As far as I can see formly simply can't output this type of H

[2016-08-15 15:48] #72 closed

[2016-08-15 15:48] #74 closed

[2016-08-15 17:43] divyakumarjain opened #79 "Add Unit tests"

[2016-08-15 18:16] #75 closed

[2016-08-16 04:51] divyakumarjain opened #80 "Add ng2Module support"
https://angular.io/docs/ts/latest/cookbook/rc4-to-rc5.html

[2016-08-16 07:59] brutalcrozt commented on #79
what will we use for unit test?

[2016-08-16 10:34] #62 closed

[2016-08-16 10:35] divyakumarjain commented on #68
You need to make sure system.js is used for loading the dependencies.

[2016-08-16 11:26] divyakumarjain commented on #58
Pipes supported in Angular view teamplates only in Angular 2.x. Expression engine with Pipe evaluation is not a service which can be consumed in Angular 2.x as against AngularJs 1.x. For getting these kind of features I think one need to use to Javascript or Typescript features and standard API.

[2016-08-17 15:25] TheMcMurder commented on #59
Closing because we're now on RC5

[2016-08-17 15:25] #59 closed

[2016-08-18 02:25] divyakumarjain commented on #79
Plan is to use Karma runner for triggering the unit test cases along with karma-jasmine plugin. Also planning to leverage @angular/testing module.

[2016-08-18 07:30] stephanjust opened #81 "SingleFocusDispatcher not exported via index.ts"
```SingleFocusDispatcher``` is required when creating your own formly templates, but it is not exported in index.ts and therefore has to be manually imported with the full path.

Considering ```FormlyMessage``` I assume the export belongs in core.ts.

[2016-08-18 08:59] divyakumarjain commented on #68
Will close this issue. Will reopen if it is happening even if system.js is included in the application.

[2016-08-18 08:59] #68 closed

[2016-08-18 09:33] stephanjust opened #82 "css class form-control missing in most templates"
input and textearea templates both have the css class form-control included. All others don't. This causes styling to be non-uniform between different fields.

[2016-08-18 10:27] divyakumarjain commented on #69
As mention by @stephanjust you can create new directive after referring to existing template.

Another way is to have buttons in template itself like below

`<formly-form [model]="user" [fields]="userFields" (formSubmit)="console($event)" [form]="form">
        <button type="submit" class="btn btn-primary" (click)="submit(user)">Button</button>
    </formly-form>`

this is copied from demo applica

[2016-08-18 10:28] #69 closed

[2016-08-18 11:20] stephanjust commented on #82
(Didn't want to open another issue for basically the same thing)

The select template is also missing the form-group css class on the surrounding div, causing basically the same issues.

[2016-08-19 07:30] manxiaoboo opened #83 "FormlyForm directive is error."
**I use 'npm install ng2-formly --save' to add it in my project.**
**Then do this:**
[code]

But the program is not run .
**The Error is : Unexpected directive value 'undefined' on the View of component 'ApplicationForm'.**

Then I start create a "empty project", do it again. It's not run.
**The Error is : Uncaught (in promise): No Directive annotation found on FormlyForm.**

This is my part of pa

[2016-08-20 11:30] divyakumarjain commented on #81
Should we have SingleFocusDispatcher in templates? because this will mostly be used by custom templates. But in any case index.ts exports * templates and core so should not matter.

[2016-08-20 13:03] divyakumarjain commented on #58
I suggest we close this issue as Typescript or Javascript does not supports pipes and also angular 2 compiler is not available as service for compilation of pipes as mention in my previous comment. We can reopen this issue if there is any way to evaluate pipe based expressions.

[2016-08-20 13:03] #58 closed

[2016-08-21 22:38] ultimafirez commented on #83
I'm not sure if this solution would apply to everyone, but when I was getting this error, I went to the node_modules folder in the ng2-formly folder and deleted the "@angular" folder. Seemed to work for me.

[2016-08-22 03:41] manxiaoboo commented on #83
done. I copy the code to my project, it's working. but use npm install, it's error.

[2016-08-22 03:41] #83 closed

[2016-08-22 16:21] mohammedzamakhan commented on #81
My idea was to keep templates separate so that later on it can be removed from this project and added to ng2-formly-bootstrap-templates project instead of this project, so that we can have ng2-formly-foundation-templates, ng2-formly-material-templates etc. Do you still think this should be done in templates.ts? @divyakumarjain

[2016-08-23 02:46] divyakumarjain commented on #81
Answer depends on how we want template projects/modules to be structured. Below are few points which drives makes me think that this issue is valid and PR makes sense. I am open to other suggestions so feel free to suggest and we can update the PR.

- New templates implementation will have its own directory structure. If there is any class that these implementation export then the import syntax wi

[2016-08-23 15:16] #81 closed

[2016-08-23 15:17] #52 closed

[2016-08-23 15:46] divyakumarjain commented on #80
i started some work on this and seems to be running into issue will post these issue in forms and will check how it can be handled.

[2016-08-23 17:55] divyakumarjain commented on #80
Work in progress branch [divyakumarjain/#80](https://github.com/divyakumarjain/ng2-formly/tree/%2380) which is compiling but giving runtime issue for FormlyPubSub Injection.

[2016-08-23 18:48] aitboudad commented on #80
Hi @divyakumarjain, I was already doing some initial work on this, let me know if you want to finish this task or leave it for me.
Thanks :)

[2016-08-24 05:03] divyakumarjain commented on #80
Thanks @aitboudad for the PR it look good at high level. I will have another look at it and will merge.

[2016-08-25 10:01] #80 closed

[2016-08-27 22:24] divyakumarjain commented on #82
Adding form-control to checkbox and radio button breaks the styling on bootstrap 3. Not sure if its good idea to do it.

[2016-08-30 04:42] divyakumarjain opened #88 "Repository for material templates"
Following is initial draft for material2 templates.

https://github.com/divyakumarjain/ng2-formly-template-material

We have following two options

1. Mono repo for all templates under ng2-formly. (The way angular2, material2 has all the modules in same repo).
2. Separate repo for each type of template implementation.

The second has an advantage that each template can have its own issue repo.

[2016-08-30 19:16] mohammedzamakhan commented on #88
👍 2nd options makes a lot of sense.

[2016-08-30 19:17] #82 closed

[2016-08-30 19:20] mohammedzamakhan commented on #88
Can you create this repo in formly-js organization instead of created it in your personal repository please

[2016-08-30 19:24] divyakumarjain commented on #88
Sorry I did not realize that i had access to create new repo in formly-js organization. Let me know if you are ok with ng2-formly-template-material name and i will go ahead and create one.

[2016-08-30 19:59] mohammedzamakhan commented on #88
Yes it looks perfect 👍

[2016-08-30 19:59] #88 closed

[2016-09-01 11:58] hendrikhh opened #89 "Can't bind to 'ngFormModel'"
Hi,
I try to setup ng2-formly with IonicV2.
But there is this error:
`
EXCEPTION: Error: Uncaught (in promise): Template parse errors:
Can't bind to 'ngFormModel' since it isn't a known native property ("
            <form class="formly" role="form" novalidate [ERROR ->][ngFormModel]="form">
              <div class="formly-field"
                *ngFor="let f of fields"): FormlyForm@1:56
`

Any i

[2016-09-02 19:22] anupamarachuri opened #90 "Invalid provider - only instances of Provider and Type are allowed, got: undefined"
import {Component} from '@angular/core';
import {FormlyForm, FormlyConfig, FormlyMessages, TemplateDirectives,FormlyProviders} from 'ng2-formly'
import {bootstrap } from '@angular/platform-browser-dynamic';

@Component({
  selector: 'sd-about',
  template: `
        <h1>Hello, {{name}}!</h1>
        Say hello to: <input [value]="name" (input)="name = $event.target.value">
        <formly-form [mod

[2016-09-03 04:30] divyakumarjain commented on #89
Can you provide version of ng2-formly used and also angular version. Also Plunker will help.

[2016-09-03 04:35] divyakumarjain commented on #90
Can you please share the version of ng2-formly and angular version.

[2016-09-05 08:02] hendrikhh commented on #89
Im using angular rc4 (included in the ionic 2 tabs template)
and "ng2-formly": "^2.0.0-beta.5".
I set it up like this https://github.com/formly-js/ng2-formly/issues/66
The "No Directive annotation found on FormlyForm" error disappears and there is this new one

[2016-09-06 14:36] anupamarachuri commented on #90
Angular Version is Angular v2.0.0-rc.5
ng2-formly@2.0.0-beta.5

[2016-09-11 13:33] divyakumarjain opened #92 "Support @angular/form 2.0.0-rc.6"
Upgrading to @angular/form 2.0.0-rc.6 causes following issues

- [ ] disable attribute binding is not supported (see https://github.com/angular/angular/issues/11324)
- [ ] Field with validation error cannot be added during ngOnInit (see https://github.com/angular/angular/issues/10131)

[2016-09-11 13:35] divyakumarjain commented on #92
Work In Progress as following branch.
https://github.com/divyakumarjain/ng2-formly/tree/2.0.0-beta.6

[2016-09-11 14:13] divyakumarjain commented on #47
@mohammedzamakhan @GaryWenneker  can you please provide a plunker to reproduce this issue? I don't have MAC to reproduce the issue.

[2016-09-11 14:42] divyakumarjain commented on #89
@hendrikhh let us know if you face same issue with angular rc5 and @angular/form@0.3.0 Seems like issue with version miss match.

[2016-09-19 15:53] mohammedzamakhan opened #95 "NPM install not working"
When I clone the project and do ***npm install***

I am getting the following error (on both windows and mac)

[code]

[2016-09-19 16:23] divyakumarjain commented on #95
I got this error when trying ng2-formly with angular rc6. There were few items which has changed in rc6. I guess it should work fine with rc5.

[2016-09-19 16:25] mohammedzamakhan commented on #95
@divyakumarjain I am getting this error with rc5

[2016-09-19 18:54] divyakumarjain commented on #95
what is the version of angular/forms you are using?

[2016-09-19 18:56] mohammedzamakhan commented on #95
"@angular/forms": "^0.3.0",

[2016-09-20 11:43] aitboudad commented on #95
could you try updating the angular constraint to `=2.0.0-rc.5` in your package and run `npm i` again ?

[2016-09-20 14:23] mohammedzamakhan commented on #95
I had to make these changes to make it working

[code]

[2016-09-20 14:23] #95 closed

[2016-09-20 14:24] #47 closed

[2016-09-20 14:31] mohammedzamakhan opened #97 "Validation occurs before the user interacts with the form fields"
I saw in the demo that the password field is showing the error message at the beginning, without  user interaction with any of the form fields. I think this is not the expected behavior of the forms in angular.

[2016-09-23 16:01] aitboudad commented on #97
see #99

[2016-09-23 16:06] mohammedzamakhan opened #100 "Can we add aitboudad o the angular 2 formly core team?"
@kentcdodds please add @aitboudad o the angular 2 formly core team?

THANKS 😄

[2016-09-23 16:10] mohammedzamakhan commented on #23
This is already supported in our library

[2016-09-23 16:10] #23 closed

[2016-09-23 16:18] #97 closed

[2016-09-24 01:18] kentcdodds commented on #100
Done

[2016-09-24 01:18] #100 closed

[2016-09-24 08:53] aitboudad commented on #92
based on your initial work, see #101

[2016-09-24 12:21] #92 closed

[2016-09-24 12:41] mohammedzamakhan commented on #89
it could be because we did not publish 2.0.0-beta.6 or any other update to npm yet?!

[2016-09-24 12:44] mohammedzamakhan opened #102 "No value accessor for form control with name: 'password' [In Demo]"
When I enter a password and remove it to get an error and focus out of password field, I get

[code]

[2016-09-24 14:50] aitboudad commented on #102
fixed by #103

[2016-09-24 14:54] #102 closed

[2016-09-28 18:56] #90 closed

[2016-09-28 18:57] #89 closed

[2016-09-29 15:20] mohammedzamakhan opened #108 "Chrome Autofill Form throws error"
In demo, if you type on the street input and chrome gives you suggestions based on the what was saved earlier, and if you select the one which will fill the street address, the city and the zip code, it throws an error and the application becomes non responding.

[code]

[2016-09-29 17:18] mohammedzamakhan commented on #108
This error started from the last merge #107

@aitboudad can you look into this please.

[2016-09-29 17:19] aitboudad commented on #108
I'm on it see #109

[2016-09-29 17:21] #108 closed

[2016-09-30 15:06] #41 closed

[2016-10-01 15:36] #43 closed

[2016-10-01 17:45] divyakumarjain opened #114 "update ngModule way of using ng2-formly in README.md"

[2016-10-01 17:53] aitboudad opened #115 "[Doc][Field Type] create custom controls"
see https://github.com/formly-js/ng2-formly/pull/112#discussion_r81454587

[2016-10-03 16:51] mohammedzamakhan opened #121 "Nested Property Keys"
INFO: http://angular-formly.com/#/example/advanced/nested-property-keys

[2016-10-04 13:08] stephanjust opened #123 "FormlyModule imports BrowserModule"
BrowserModule is a root level module that is only allowed to be imported once. This means that Formly has to be imported at the root level, although this means that declarations are not available at different, lazy loaded modules (and therefore Formly is unusable).

I assume that Formly simply requries access to the ngIf, ngFor, ... directives and should therefore import the CommonModule.

[2016-10-04 15:01] #123 closed

[2016-10-04 17:55] aitboudad commented on #26
@mohammedzamakhan I already finished this, I'll provide a PR for this tomorrow!

[2016-10-04 18:23] bialad opened #125 "[ts] Cannot find module 'ng2-formly'"
I'm getting this error in vscode. Angular loads the module correctly, so it seems to only be a problem with types.

Looking into "node_modules/ng2-formly" there are no types, and trying to add "@types/ng2-formly" to package.json returns 404.

I'm a missing something here?

[2016-10-04 18:36] aitboudad commented on #125
It should be fixed in the next release (#120)

[2016-10-04 18:53] bialad commented on #125
I see.

Looking forward to it. :)

[2016-10-05 11:33] #125 closed

[2016-10-05 11:52] #26 closed

[2016-10-05 16:15] mohammedzamakhan opened #130 "Docs Generation"
I wanted to use typedoc [http://typedoc.org] for documentation generation, but it does not yet support for typescript 2.0.

[2016-10-05 16:53] mohammedzamakhan commented on #125
@bialad use 2.0.0-beta.7 version

[2016-10-06 14:32] mohammedzamakhan opened #133 "Website for ng2-formly"
I wanted to put up a website for this project, but was unable to decide what domain should I use.

Options:
1. Buy a new domain: ng2-formly.com
2. Share the old domain with a sub-domain: ng2.angular-formly.com

@formly-js/angular2-formly-core-team Please put your opinions.

@kentcdodds will we be able to use the sub-domain on angular-formly.com?

[2016-10-06 14:35] kentcdodds commented on #133
I'd be happy to fix up DNS records however you need them so you can use
ng2.angular-formly.com :)

On Thu, Oct 6, 2016 at 8:32 AM Zama Khan Mohammed <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2016-10-06 16:06] mohammedzamakhan commented on #133
Currently its available at https://ng2-angular-formly-com.firebaseapp.com

[2016-10-06 19:01] #114 closed

[2016-10-06 19:57] divyakumarjain commented on #130
Should we split this into two issue for easy tracking one for Document generation and second for Form Builder.

[2016-10-06 20:01] mohammedzamakhan opened #135 "Form Generator"
I wanted a Formly Generator, like what we had for angular 1 formly.
example easyFormGenerator (https://github.com/MacKentoch/easyFormGenerator)

[2016-10-07 10:01] aitboudad commented on #130
we should wait until the PR https://github.com/TypeStrong/typedoc/pull/290 is merged

[2016-10-09 16:04] kentcdodds commented on #133
Ok, please follow these instructions, the let me know what DNS settings I need to change to get this working: https://firebase.google.com/docs/hosting/custom-domain

[2016-10-09 16:14] mohammedzamakhan commented on #133
Check your email 💯

[2016-10-09 17:21] mohammedzamakhan commented on #121
@divyakumarjain @aitboudad Should we support this? since Angular 2 itself is not supporting it.

[2016-10-10 04:29] divyakumarjain commented on #121
For scenarios where form layout is not nested but model does have nested properties it will be tricky to place nested fields across the form layout. But keeping these fields grouped at single location in layout is possible using formly groups.

i think is good to have but may not be must have.

[2016-10-10 16:25] mohammedzamakhan commented on #133
Website live at https://ng2.angular-formly.com 🎆 🌟

[2016-10-10 16:25] #133 closed

[2016-10-10 18:35] divyakumarjain commented on #133
Happy to see the website its wonderful.

Should we request to add a link to original formly site?

[2016-10-10 18:36] mohammedzamakhan commented on #133
Yes we can do that, but firstly, I will create a repo for the website, so that we can all contribute articles/tutorials to it. 😄

[2016-10-10 18:42] mohammedzamakhan commented on #133
@divyakumarjain https://github.com/formly-js/ng2.angular-formly.com

[2016-10-10 18:42] kentcdodds commented on #133
Feel free to make a PR to the original formly website! Thanks!

[2016-10-11 22:28] #130 closed

[2016-10-13 22:48] mohammedzamakhan opened #136 "Dynamic Validation Messages"
Right now we hardcode stuff in Validation Messages

[code]

It should be more robust where it can tell the number of characters dynamically.

[2016-10-18 07:06] stephanjust opened #140 "Placeholders are not optional (display 'undefined')"
Using Formly 2.0.0-beta.7.

Placeholders are optional in templateOptions (and that makes sense, you potentially don't need them), but not setting a placeholder results in input elements using the string 'undefined' as a placeholder.
[code]
![formly_undefined](https://cloud.githubusercontent.com/assets/8887403/19467455/a5782128-9511-11e6-88b5-40db994103a5.JPG)

[2016-10-18 08:42] #140 closed

[2016-10-18 16:55] aitboudad commented on #121
I did some initial work and seems to be working fine, I'll provide a PR soon!

[2016-10-19 16:16] #121 closed

[2016-10-19 16:27] mohammedzamakhan commented on #121
Thanks @Pouja 🎆 🌟 🎉

[2016-10-20 18:34] #136 closed

[2016-10-20 19:00] mohammedzamakhan opened #146 "Should be able to define the types for the wrappers"
Currently we can define the wrappers for the type, but we cant define the types for the wrapper like:
[code]

[2016-10-20 19:37] mohammedzamakhan opened #147 "Handling onKeypress, onEnter, onLeave, onClick, onFocus, onBlur, onChange etc."
Lets discuss how can we deal with this. Angular 1 formly had this to tackle it, but we don't have anything in place yet.

[code]

[2016-10-20 20:08] mohammedzamakhan opened #148 "Expression properties should be able to take function"
I tried function for expression properties, but I failed doing that, we need this feature for ng2-formly final.

[code]

[2016-10-20 20:42] mohammedzamakhan opened #149 "NativeScript and Formly"
I wanted someone to investigate if we can use this project for NativeScript. I do not have expertise in NativeScript neither do I think a lot of web developers have at the moment.

I wanted some of the members of NativeScript look at this repo and analyze whether this could be used for NativeScript. If not, then why, and whether we can help them using ng2Formly with their integration of Angular 2

[2016-10-21 17:57] mohammedzamakhan opened #150 "Lifecycle Hooks in Formly"
We should have control over lifecycle for each fields. My idea is to implement something of this nature

[code]

[2016-10-22 12:52] #150 closed

[2016-10-23 14:33] mohammedzamakhan opened #152 "Template Options should be able to accept additional Custom options"

[2016-10-23 15:17] #152 closed

[2016-10-23 18:21] mohammedzamakhan opened #154 "defaultValue property for a field"
We should support defaultValue attribute similar to angular formly 1

http://docs.angular-formly.com/v6.3.2/docs/field-configuration-object#defaultvalue-any

[2016-10-24 14:40] mohammedzamakhan commented on #27
I want to take the opinion of our angular community in this use case.

**Explanation of `ngModelAttrs`**

Basically in **formly**, we convert Javascript/JSON array object alone to create the whole form in angular 2.

So for example we have the array as
[code]

and the html is

[code]

we convert this into a form with one form `input` element. A demo of the features can be seen on our website's exa

[2016-10-24 16:47] thiagogjt opened #155 "Fetch form metadata from server"
I want to fetch the form metadata from server.
But i am getting the following exception:

[code]

Component:

[code]
From metadata: (s.configuration.form)

[code]

Any feedback would be appreciated.

Thanks.

[2016-10-24 17:02] mohammedzamakhan commented on #155
Even the basic `setTimeout` function doesn't

[code]

[2016-10-24 17:11] mohammedzamakhan commented on #155
I wanted to support this use case, but it was removed in one of the commit https://github.com/formly-js/ng2-formly/commit/c981d21fccaf0a62154a850483cdeb9e3e5f951e#diff-cc3f27b8e6e8a64793a99e83a4bd6d0aL69 by @aitboudad

[2016-10-24 17:14] aitboudad commented on #155
can you try with `*ngIf` something like:

[code]

[2016-10-24 17:19] mohammedzamakhan commented on #155
@aitboudad that does work, but I think we should support it without `*ngIf` as well.

[2016-10-24 17:19] aitboudad commented on #155
Ok I'll try to provide a better way :)

[2016-10-24 17:20] thiagogjt commented on #155
Works with `*ngIf`.

[2016-10-24 17:20] #155 closed

[2016-10-24 19:29] aitboudad commented on #155
@thiagogjt thanks for reporting this issue, in the next release it can work without `*ngIf`

[2016-10-24 19:36] thiagogjt commented on #155
@aitboudad formly is a great project, i use it since its early versions in agular 1.
I'm glad that i can help improve it.
Thank you for the feedback.

[2016-10-24 19:57] mohammedzamakhan commented on #155
@thiagogjt I would like the community to request for features so that we can make formly with angular 2 a much more better experience 😄

[2016-10-24 20:11] #154 closed

[2016-10-24 21:17] #146 closed

[2016-10-25 16:40] mohammedzamakhan opened #163 "Simpler Validation"
We should have the angular-formly validators API in ng2-formly as well.

ref: http://angular-formly.com/#/example/advanced/validators

[2016-10-25 17:09] aitboudad opened #165 "Support for Async Validation"
- [x] asyncValidation (#168)
- [ ] asyncValidator

[2016-10-25 18:35] mohammedzamakhan commented on #165
asyncValidation and asyncValidator can be implemented as a part of it.

[2016-10-25 18:35] #163 closed

[2016-10-25 19:23] mohammedzamakhan commented on #135
@joezhouOxford can you help us in creating form generator like you created for angular-formly?
http://www.spengineeringltd.com/Pages/FormBuilder.aspx#/FormDesign

We want to have this on ng2-formly website directly if possible.

[2016-10-25 19:42] mohammedzamakhan commented on #135
https://github.com/formio/ngFormBuilder

This looks like a good form builder as well

[2016-10-25 19:43] mohammedzamakhan commented on #135
@formly-js/angular2-formly-core-team

[2016-10-25 19:46] mohammedzamakhan opened #166 "Update the repo to RC"
When would be the best time to upgrade the repo to Release Candidate.

And also should we be following semver similar to angular team, and would that mean the Final release version would be 2.0.0 or 1.0.0?

[2016-10-26 10:44] aitboudad commented on #165
I'll provide `asyncValidator` in another PR, see #168 for now

[2016-10-26 11:14] mohammedzamakhan opened #170 "Merging validators and validation as well as asyncValidators and asyncValidation"
It would be better to have just validators and asyncValidator like in angular-formly

[2016-10-26 11:20] aitboudad commented on #170
can you explain more on this ?

[2016-10-26 11:20] mohammedzamakhan opened #171 "Adding more templateOptions"
Adding more templateOptions like
- [x] Required (#174)
- [x] Max (#174)
- [x] Min (#174)
- [x] Maxlength (#174)
- [x] Minlength (#174)
- [x] Tabindex
- [x] Pattern (#174)
- [x] Step

[2016-10-26 11:34] mohammedzamakhan commented on #170
Instead of having validation: Validators.required, I can have validators: { validation: Validators.required}

Benefit: We now have validation property that can be used similar to angular-formly
http://docs.angular-formly.com/docs/field-configuration-object

We should always try to bridge the gap between angular 1 and 2 field configuration as much as possible

[2016-10-26 11:43] aitboudad opened #172 "add support for Form Options"
http://angular-formly.com/#/example/form-options/reset-model
http://angular-formly.com/#/example/form-options/form-state

[2016-10-26 11:46] aitboudad commented on #79
I'll try provide an initial work soon!

[2016-10-26 19:36] mohammedzamakhan commented on #79
The karma is out of date as well

karma 0.13.22	 current 1.3.0
karma-chrome-launcher 0.2.3 current 2.0.0
karma-firefox-launcher	0.1.7 current 1.0.0
karma-jasmine 0.3.8 current 1.0.2
karma-typescript-preprocessor 0.1.3 current 0.3.0

[2016-10-26 22:09] mohammedzamakhan opened #180 "parsers and formatters"
Implement parser and formatter similar to what we have in angular-formly.

http://angular-formly.com/#/example/field-options/parsers-and-formatters

- [x] parsers [#234]
- [ ] formatters

[2016-10-27 09:52] aitboudad opened #182 "Add unit tests"
This issue is to keep track of the remaining tests:
- [x] FormlyForm (#294)
- [x] FormlyUtils
- [x] FormlyFormBuilder(#244)
- [x] FormlyAttributes (#209)
- [x] FormlyField (#226)
- [x] Code Coverage (#206)
- [x] FormlyMessages (#188)
- [x] FormlyConfig (#184)
- [x] FormlyValidationMessage (#196)

[2016-10-27 09:52] aitboudad commented on #79
closing in favor of  #182

[2016-10-27 09:52] #79 closed

[2016-10-27 13:06] Riron commented on #148
A similar `eval` as [this one](https://github.com/formly-js/ng2-formly/blob/80df91815a26c75d01230152eb98f08c8c052452/src/services/formly.field.delegates.ts#L7) would be nice - and nearly usable as is 😄

[2016-10-27 13:13] Riron opened #183 "Add an event on form controls ready"
In order to know when the form controls have been registered, it would be nice to have something like a `(controlsReady)` event. It would be emitted after [registerFormContols](https://github.com/formly-js/ng2-formly/blob/2b200b23421175c30febc2a03404b2baafd6986c/src/components/formly.form.ts#L44) has completed I guess.

This would enable us to observe controls valuesChanges safely.

[2016-10-27 13:17] mohammedzamakhan commented on #183
@Riron nice idea, can you make a PR and update the demo with a nice example. Even I was not able to observe the controls, I had to observe the form and then observe the control if available.

[2016-10-27 14:07] aitboudad commented on #183
Instead you can use `lifecycle` see https://github.com/formly-js/ng2-formly/pull/151

[2016-10-27 14:29] #183 closed

[2016-10-27 15:22] mohammedzamakhan commented on #170
Closing this as #165 will take care of this

[2016-10-27 15:22] #170 closed

[2016-10-28 14:33] mohammedzamakhan opened #189 "Repeat Section type support"
I tried having repeat section support to ng2-formly, similar to what we have in `angular-formly` (ng1), but was not able to get any solution, since the keys are same for those repeat section.

ng1: http://jsbin.com/murule/32/edit
ng2: http://plnkr.co/edit/HmXMUyQ0NmB4eyZdX3bN?p=preview

What could be the best way to handle this?

@formly-js/angular2-formly-core-team

[2016-10-28 17:29] mohammedzamakhan opened #190 "Code Coverage report not showing any data"

[2016-10-28 18:10] thiagogjt opened #192 "Form does not initialize inner properties"
Hi!

I'm having a problem when the model has inner properties, its values are not being loaded into the form.
In the example below, the value of "test1" property is loaded but the value of "test.test_inner" don't:

[code]

[2016-10-28 18:11] thiagogjt commented on #192
I'm using version 2.0.0-beta.9

[2016-10-28 18:44] mohammedzamakhan commented on #192
`validation` should now be used inside validators property like:

[code]

[2016-10-28 18:46] aitboudad commented on #192
@mohammedzamakhan we should update the changelog to refer our latest changes,
@thiagogjt I'm working on a fix!

[2016-10-28 18:48] mohammedzamakhan commented on #192
@aitboudad I did made the update in [CHANGELOG.md](https://github.com/formly-js/ng2-formly/blob/master/CHANGELOG.MD) file:

### BREAKING CHANGES

* **Validation** Validation property in Validators property (#175) 706c2b6 Validations have been moved to Validators.validtion.`

[2016-10-28 18:53] thiagogjt commented on #192
@mohammedzamakhan Thanks, i will update my code.

[2016-10-28 19:50] thiagogjt commented on #189
@mohammedzamakhan

Have you saw this example?
https://plnkr.co/edit/clTbNP7MHBbBbrUp20vr?p=preview

Source: https://scotch.io/tutorials/how-to-build-nested-model-driven-forms-in-angular-2

[2016-10-28 19:52] #192 closed

[2016-10-29 09:05] #189 closed

[2016-10-29 15:41] mohammedzamakhan opened #199 "setType should also be able to take an array"
Similar to angular-formly: http://angular-formly.com/#/example/custom-types/default-options

[2016-10-29 15:42] mohammedzamakhan opened #200 "defaultOption for a type"
http://angular-formly.com/#/example/custom-types/default-options

[2016-10-29 16:06] mohammedzamakhan opened #202 "Grouped Select"
http://angular-formly.com/#/example/bootstrap-formly/select

<img width="395" alt="screen shot 2016-10-29 at 11 05 04 am" src="https://cloud.githubusercontent.com/assets/2327532/19831110/c5361376-9dc7-11e6-8285-d61ef203d97f.png">

[2016-10-29 16:20] aitboudad commented on #190
moved to #182

[2016-10-29 16:20] #190 closed

[2016-10-29 16:20] mohammedzamakhan opened #203 "formState implementation"
http://angular-formly.com/#/example/other/read-only-form

[2016-10-29 16:23] mohammedzamakhan opened #204 "field and fieldGroup wrapper"
field wrapper: http://angular-formly.com/#/example/other/async-select-options-with-controller
field group wrapper: http://angular-formly.com/#/example/other/nested-formly-forms

[2016-10-31 15:19] mohammedzamakhan commented on #203
Basically this involves creating formState, that would be available to all the fields, and the templates have to be modified by the user in order to make it read only.

[2016-10-31 21:17] #204 closed

[2016-11-01 12:24] danielcrisp opened #210 "Radio buttons don't have names, so you can't use multiple groups"
If you have more than one group of radio buttons then they interfere with each other if the values are the same because the HTML element is not assigned a `name` attribute.

See this example (Title 1 and Title 2):

https://plnkr.co/edit/VejoJngnRhKhxcw5ZxxF?p=preview

The two sets of radio buttons have a different `key` so they should be independent, but if you change the selection you will see th

[2016-11-01 12:39] danielcrisp commented on #210
Setting the `name` [doesn't help](https://github.com/danielcrisp/ng2-formly) - I think it might be something to do with the FormControl... investigating

[2016-11-01 14:56] aitboudad commented on #210
I guess it's an angular issue, can you test the same example using `@angular/forms` only

[2016-11-01 15:05] danielcrisp commented on #210
I've made a bit of progress (including fixing a similar problem with `multicheckbox`) but when I change the value of the field I see an array in the model, instead of the expected string.

See the demo in the [latest commit](https://github.com/danielcrisp/ng2-formly/tree/655b83a2bd833557dbb5b5194f55118cb0328297)

Any ideas?

The first object is the model when the form is pristine. The second objec

[2016-11-01 15:18] aitboudad commented on #210
because you have defined the radio control as `FormArray` which is not correct
https://github.com/danielcrisp/ng2-formly/blob/655b83a2bd833557dbb5b5194f55118cb0328297/src/ui-bootstrap/types/radio.ts#L21

[2016-11-01 15:53] danielcrisp commented on #210
Cool, think I've figured it out - I had to follow this: https://angular.io/docs/ts/latest/api/forms/index/RadioControlValueAccessor-directive.html but use the main `form` as the `formGroup` within the radio group

Take a look: https://github.com/formly-js/ng2-formly/pull/212

[2016-11-01 16:12] #210 closed

[2016-11-01 17:09] danielcrisp opened #215 "Layout broken with Bootstrap v4 flexbox support enabled"
I think its because of all the nested custom elements, e.g. `<formly-field>` etc

![image](https://cloud.githubusercontent.com/assets/1104814/19898892/d5552446-a055-11e6-810d-6aa22fec2f3b.png)

Try the demo with this as the CSS source:

https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css

[2016-11-01 17:40] #199 closed

[2016-11-01 17:56] danielcrisp commented on #215
This might help, but perhaps there is a better way of fixing this...

http://codepen.io/anon/pen/JRgBZX

Using `<template>` to output the components directly to the DOM without the additional elements?

[2016-11-01 18:02] mohammedzamakhan commented on #215
If you use flexbox, the column class element should be direct child of row class element.

[2016-11-02 14:45] web265p3 opened #220 "FormlyWrapperHorizontalLabel"
Regarding the Quickstart:
FormlyFieldToggle and FormlyWrapperHorizontalLabel is imported to the declarations-section of NgModule, but is not imported in the file itself. So I get an error message. What do I have to do to get this to work? :)

[2016-11-02 16:09] aitboudad commented on #220
just remove them

[2016-11-02 16:23] aitboudad commented on #220
see the basic example https://plnkr.co/edit/2hVrQUQ4li5MKVtZgPY1?p=preview
and for an advanced demo look at https://github.com/formly-js/ng2-formly/tree/master/demo

[2016-11-02 16:23] #220 closed

[2016-11-02 18:02] mohammedzamakhan opened #223 "addonLeft and addonRight"
http://angular-formly.com/#/example/bootstrap-specific/input-add-ons

[2016-11-02 21:46] #215 closed

[2016-11-02 21:46] #135 closed

[2016-11-02 21:47] #115 closed

[2016-11-03 08:12] web265p3 commented on #220
Okay, thanks. This fixed my first issue. However, after doing the quickstart I still get an error message: "GET http://localhost:3000/ng2-formly 404 (Not Found)" whenever I add the "FormlyModule.forRoot(), FormlyBootstrapModule" to the declarations array in my module. The live example seems to work, so this must be my bad somehow... :)

[2016-11-03 11:11] #147 closed

[2016-11-03 14:57] #171 closed

[2016-11-03 15:01] #25 closed

[2016-11-03 15:01] #223 closed

[2016-11-03 15:09] web265p3 commented on #220
For SystemJS-Users:
Add:
`'ng2-formly' :            'node_modules/ng2-formly/bundles/ng2-formly.umd.js',`

to systemjs.config.js.
That fixes the issue.

[2016-11-05 03:30] mohammedzamakhan opened #225 "Extra formly tags removal"
Analyze whether we can remove the extra component tags by any means.

**Before:**

<img width="434" alt="screen shot 2016-11-03 at 10 17 18 am" src="https://cloud.githubusercontent.com/assets/2327532/20027289/17b03a58-a2de-11e6-9c83-30a350bd62cb.png">

**After removal of tags:**

<img width="433" alt="screen shot 2016-11-03 at 10 17 43 am" src="https://cloud.githubusercontent.com/assets/2327532/20

[2016-11-05 17:57] mohammedzamakhan commented on #225
@formly-js/angular2-formly-core-team Need suggestions to tackle this issue.

[2016-11-06 09:35] divyakumarjain commented on #225
This is how Angular 2 recommends Components to be added to DOM. In Angular 1 we had a way but dont think there is a way in Angular 2.

Are we running into any issue because of this?

[2016-11-06 14:40] mohammedzamakhan commented on #225
@divyakumarjain look at the date of investment field above in both before and after pic

[2016-11-06 15:42] divyakumarjain commented on #225
Haven't tried earlier and also not sure how much rework is this but may be formly-field-input can be converted into a directive instead of Component?

[2016-11-06 19:16] mohammedzamakhan commented on #225
I don't think we can convert this into a directive, since directive won't contain a template 😞

[2016-11-07 11:54] Krustie101 opened #229 "Formly-form controls are not rebound if model is changed programmatically"
There are 2 levels to this issue

1) When the model of a formly-form changes, the property values of this new model are not transferred to the corresponding angular FormControl 's and consequently not to the input controls.

2) When I change the value of a model property programmatically, this change is not transferred to the corresponding angular FormControl.

[2016-11-07 12:00] Krustie101 opened #230 "Model binding to a formly-field in FormlyForm will not work with a nested property"
In the template of  FormlyForm the model of the formly-field is bound via the expression

`[model]="field.key?model[field.key]:model"`

If field.key is a nested property (i.e. contains dots), model[field.key] will not be evaluated properly. I think a custom pipe could be used to handle nested properties (applied to model and field.key as a parameter).

[2016-11-07 12:42] aitboudad commented on #230
define custom method is enough, can you work on it ?

[2016-11-07 12:45] Krustie101 commented on #230
@aitboudad
No problem, I will take it up.

[2016-11-07 12:46] aitboudad commented on #229
I'll work on this one

[2016-11-08 20:57] divyakumarjain opened #233 "Running npm run demo fails on windows."
I am getting below error on windows. I tried on git bash which is closure to linux bash but same result.

[code]

[2016-11-08 20:59] #225 closed

[2016-11-08 21:50] aitboudad commented on #233
can you try without `NODE_ENV=dev node ` ?

[2016-11-09 00:10] #203 closed

[2016-11-09 00:56] mohammedzamakhan commented on #180
Formatters are dependent on angular project https://github.com/angular/angular/issues/3009

[2016-11-09 04:15] divyakumarjain commented on #233
it does run without NODE_ENV=dev node

[2016-11-09 10:14] aitboudad commented on #229
fixed by #238 but please note we will not support the deep change of model (for the reason mentionned in https://github.com/angular/angular/issues/6458#issuecomment-171299977) and also I would suggest to rely on `FormControl` on this part:
[code]

@Krustie101 not sure I understand, can you give an example ?

[2016-11-09 12:14] #233 closed

[2016-11-09 12:17] #229 closed

[2016-11-09 12:36] hariharan614 opened #239 "Run time error while running to the device"
Hi,
I tried it, It works perfectly while I run in ionic lab. But when execute run to my android device, it shows an error:

Uncaught Error: Cannot find module "../node_modules/ng2-formly/lib/core/components/formly.group.ngfactory", http://*.*.*.*/build/main.js, Line: 25

Please can you help me with this?

[2016-11-09 14:08] aitboudad commented on #239
fixed by #240

[2016-11-09 17:42] #172 closed

[2016-11-09 18:51] #165 closed

[2016-11-10 05:42] hariharan614 commented on #239
I'm still facing the same problem

[2016-11-10 07:34] aitboudad commented on #239
Could you provide a plunkr or a repo reproducing the problem?

[2016-11-10 10:28] mohammedzamakhan commented on #239
May be you are using beta.11. You will have to wait for this project to be tagged and pushed to npm. Or else you can also you the github latest instead

[2016-11-10 17:46] #200 closed

[2016-11-10 18:02] aitboudad commented on #166
I think we have done the most important things, we should wait one or two weeks before RC

`1.0.0` is my preference :)

[2016-11-10 18:19] mohammedzamakhan commented on #166
1.0.0 is my preference too, but before that we have to make sure that ui-bootstrap is not in this repo, but in its own repo.

[2016-11-10 18:20] mohammedzamakhan commented on #166
Somehow I also want to rename the repo to ng-formly, instead of ng2-formly.

[2016-11-10 18:28] #149 closed

[2016-11-10 18:53] thiagogjt commented on #135
https://github.com/formio/ng2-formio

[2016-11-11 18:12] mohammedzamakhan opened #245 "Shortcut to creating a field"
We can allow user to have a field with just a string like

[code]
to `'email'`

[code]
to  `'email|label:Email address|placeholder:Enter email'`
[code]

to `'email|label:Email address|placeholder:Enter email|required'`

For all these the type would be `input` since we could define a default type in formlyConfig.

Suppose now suppose the user has `input` as default type, and he wants to use
[code]

[2016-11-11 19:33] mohammedzamakhan opened #246 "FIELD TRANSFORM"
http://angular-formly.com/#/example/very-advanced/field-transform

[2016-11-12 06:09] hariharan614 commented on #239
Thanks for your efforts, some of the previous errors are not occuring, but now this is the only error that I'm getting. I'm using it in Ionic2. Please help me... @mohammedzamakhan @aitboudad

[11:23:48]  Error: Error at H:/ws/formtest/.tmp/node_modules/ng2-formly/lib/ui-bootstrap/types/input.ngfactory.ts:91:35
[11:23:48]  Module ''*'' has no exported member 'Wrapper_FormlyAttributes'.
[11:23:48]

[2016-11-12 07:51] hariharan614 commented on #239
![1](https://cloud.githubusercontent.com/assets/23353872/20236427/e3f518de-a8da-11e6-9633-a615c39d746f.PNG)

[2016-11-12 09:58] hariharan614 commented on #239
And import of 'formly.attribute' is missing from code.d.ts.
import { FormlyAttributes } from './components/formly.attributes';

[2016-11-12 10:21] aitboudad commented on #239
I did a try again but doesn't happen to me, as I mentioned above it would be helpful if you can provide me a repo reproducing the problem, thanks

[2016-11-12 10:47] hariharan614 commented on #239
Please have a look at the src files that I have uploaded. And if you want me to upload the whole project file, I can do that. Please let me know thanks.

https://github.com/hariharan614/formlyTest.git

[2016-11-12 11:02] aitboudad commented on #239
just checked and #240 seems fixed the issue, @mohammedzamakhan can you made a new release

[2016-11-12 11:11] hariharan614 commented on #239
If its available soon, it would solve my whole problem. Or if you can tell me if there I can make changes to resolve the problem by using npm, pls let me know.

[2016-11-12 13:22] mohammedzamakhan commented on #239
@aitboudad released 2.0.0-beta.12 version 🔥

[2016-11-12 13:23] hariharan614 commented on #239
Thank you soo much for your support 👍 ... I'm going to try it now...

[2016-11-12 13:30] mohammedzamakhan commented on #239
@hariharan614 since you are working on ionic 2, can you help us maintain the ng2-formly-ionic-templates?

We have one for bootstrap in this repo, and we plan to separate it out, and we have one for material 2 at https://github.com/formly-js/ng2-formly-template-material

[2016-11-12 13:33] hariharan614 commented on #239
Sure, I'm happy for the opportunity. I'll look into the repo and try my best to help... 👍

[2016-11-12 14:41] hariharan614 commented on #239
@mohammedzamakhan @aitboudad

One more problem in the released version...

![q](https://cloud.githubusercontent.com/assets/23353872/20238543/21c0305c-a914-11e6-8745-49e172929775.PNG)

[2016-11-13 09:37] aitboudad commented on #239
@mohammedzamakhan the `lib` folder isn't included in the last build

[2016-11-13 09:44] aitboudad commented on #239
see #251

[2016-11-14 04:25] mohammedzamakhan opened #253 "Applying directive dynamically"
**I'm submitting a ...**  (check one with "x")
[code]

**Expected behavior**
No way of attaching directives dynamically, suppose I want to use this third party library of masking https://www.npmjs.com/package/angular2-text-mask, I can't use it, except with the change in the input template.

I should be able to add it using field configuration. like ngModelAttrs in angular-formly.

[2016-11-14 04:34] hariharan614 commented on #239
Hi, pls let me know about this bug fix. thank you. @aitboudad @mohammedzamakhan

[2016-11-14 15:27] mohammedzamakhan commented on #239
Try upgrading to v2.0.0-beta.13

[2016-11-15 11:04] jcga82 opened #255 "event async loading in a field select"
I'm submitting a
[ ] bug report => search github for a similar issue or PR before submitting
[ ] feature request
[ X] support request
[code]

[2016-11-15 13:31] mohammedzamakhan commented on #255
We use lifecycle hooks, check https://github.com/formly-js/ng2-formly/blob/master/demo/hello.ts#L82

[2016-11-15 14:00] jcga82 commented on #255
Thanks, but I already saw it. I do not know how to pass this code to version 2:

[code]

[2016-11-15 14:58] mohammedzamakhan commented on #255
Check this demo https://plnkr.co/edit/KC9VNIFohIgXRLg0FMAZ?p=preview

and also look at this demo from Angular 2 member for example of typeahead with reactive forms.

[2016-11-15 17:50] jcga82 commented on #255
Thanks you, the plunker help me a lot

[2016-11-15 20:01] #255 closed

[2016-11-15 22:15] #246 closed

[2016-11-15 23:22] thiagogjt commented on #166
I think it is a good idea to group the dependencies after the ui modules have its own repositories
Like:
@ng-formly/core
@ng-formly/ui-bootstrap
@ng-formly/ui-material
...

[2016-11-16 04:03] mohammedzamakhan commented on #166
@thiagogjt It would cost $14/month to get those @ng-formly on npmjs.com

it would be free for us to have

ng-formly
ng-formly-ui-bootstrap
ng-formly-ui-material
...

[2016-11-16 04:06] mohammedzamakhan opened #257 "Upgrade to 2.2.0"
Upgrade Angular to version 2.2.0

[2016-11-16 15:19] jcga82 opened #258 "valueProp and labelProp in type select"
I'm submitting a:
[code]

**Current behavior**
valueProp and labelProp not work. In ng-formly work fine.

**Expected behavior**
I need map a json for select and it has not value and label elements...

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**
Now I map it without native formly

**Please tell us about your environment

[2016-11-16 15:20] mohammedzamakhan commented on #258
@jcga82 Can you look into this and make a PR. Would be appreciated.

[2016-11-16 15:31] jcga82 commented on #258
I do not think I can but I'll try it.

[2016-11-16 15:43] mohammedzamakhan commented on #258
You will have to make changes to this file https://github.com/formly-js/ng2-formly/blob/master/src/ui-bootstrap/types/select.ts

[2016-11-16 16:06] thiagogjt commented on #166
@mohammedzamakhan I did not know that there were costs involved in grouping the packages.

[2016-11-17 03:06] #257 closed

[2016-11-17 18:08] mohammedzamakhan opened #262 "Need CONTRIBUTING.md file for the project"

[2016-11-18 17:32] mohammedzamakhan opened #263 "Formly in Tabs"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Have two forms inside tabset doesn't allow the user to go back to Step 1 (first tab)

**Expected behavior**
It should work without any issues

**Minimal reproduction of the problem with instructions**
https://plnkr.co/edit/LjbRLPrbh0GI7kp7DiLf

[2016-11-18 17:35] mohammedzamakhan commented on #263
Also see https://plnkr.co/edit/LjbRLPrbh0GI7kp7DiLf submitted @franzeal

[2016-11-20 10:28] aitboudad opened #265 "[Field type] get model value using `model[key]` instead of `model`"
**I'm submitting a ...**  (check one with "x")
[code]

[2016-11-20 10:28] #239 closed

[2016-11-20 12:50] #265 closed

[2016-11-20 16:41] aitboudad opened #269 "Custom Validators with `expression + message`"
**I'm submitting a ...**  (check one with "x")
[code]

http://angular-formly.com/#/example/advanced/validators
[code]

[2016-11-20 20:09] mohammedzamakhan opened #270 "Expression properties error"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The field gets enabled but gives out error after that
**Expected behavior**
It should enable and disable propertly
**Minimal reproduction of the problem with instructions**
http://plnkr.co/edit/XYZ1N8Y3cFHKgZIejrIA?p=preview

[2016-11-21 01:52] ampsarfraz commented on #255
@jcga82  hi, how did you achieve this finally? I am also trying to find a way to do exactly the same thing? Can you please post a sample?

[2016-11-21 04:56] ampsarfraz opened #271 "Request for an example for options for select field from a remote API through a service"
I'm submitting a support request.

The request is for an example to fetch options for a select field from a remote API through a service.

Below is an option that I tried, however I couldn't get it to work.
I tried extending the FormlyFieldSelect but I am not able to inject a service into the constructor of the child class. The service always comes up as `undefined`.

[code]
![image](https://cloud

[2016-11-21 07:28] jcga82 commented on #255
hi, here I put my code:
´´´js
lifecycle: {
                    onInit: function() {
                        this.form.get('provincia').valueChanges.subscribe(
                            (id_provincia:any) => {
                                let dataLocalidades = localidadResource.get({id: id_provincia});
                                dataLocalidades
                                    .$observ

[2016-11-21 07:32] ampsarfraz commented on #255
Thank you. Sorry to bother again. How did you pass localidadResource as a dependency injection to the component?

When I try to pass my service I get an undefinederror.

[2016-11-21 07:32] ampsarfraz commented on #255
@jcga82 Thank you. Sorry to bother again. How did you pass localidadResource as a dependency injection to the component?

When I try to pass my service I get an undefined error.

[2016-11-21 07:38] jcga82 commented on #255
First you import  your resource
[code]
Then you add to the constructor as params
[code]
You have not to do nothing, all it do ng2-resource rest...

[2016-11-21 09:41] aitboudad commented on #270
We should execute expression delegate during form building

[2016-11-21 14:13] #269 closed

[2016-11-21 18:34] mohammedzamakhan commented on #263
@franzeal issue created on ng-bootstrap module https://github.com/ng-bootstrap/ng-bootstrap/issues/1069

[2016-11-21 18:41] #258 closed

[2016-11-22 19:48] mohammedzamakhan commented on #271
Can you make a simple plnkr so that we can make that work?

[2016-11-22 20:03] mohammedzamakhan commented on #263
@franzeal I am closing this issue, as this is ng-bootstrap issue, I was able to get this running using ng2-bootstrap https://plnkr.co/edit/z31ngGCEwykcCqPuBOjM?p=preview

[2016-11-22 20:03] #263 closed

[2016-11-22 21:10] jrgleason commented on #147
Did that merge fix onChange? I don't see anything in the diff. I am trying a select with onChange right now and it isn't working

"ng2-formly": "^2.0.0-beta.13",

[2016-11-22 21:18] jrgleason opened #277 "OnChange isn't working when set async (Like on an RXJS subject)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I have the following code
[code]

**Expected behavior**

per the pull request provided [here](https://github.com/formly-js/ng2-formly/pull/224/files#diff-cc3f27b8e6e8a64793a99e83a4bd6d0a) it seems this should fire the console when I select an item.

However, the options are mapped properly.

**Minimal reproduction of the p

[2016-11-22 21:25] jrgleason commented on #277
I see it get added to the object...

[code]

[2016-11-22 21:55] mohammedzamakhan commented on #277
I think there can be two solutions to this issue.

1. attach change function directly to the templateOptions.

2. assign new object to the this.connectorFields[0]

Please provide a plnkr.

[2016-11-22 21:56] #202 closed

[2016-11-22 22:00] jrgleason commented on #277
1.) I can't do this because I am loading via require like this `connectorFields: FormlyFieldConfig = require("./connector-config-form.fields");`. Since functions are not valid JSON I can't get it through the loader.

2.) I am confused as to how this would work because wouldn't it just be adding the form element?

It seems strange that I wouldn't be able to add the function this way since I can add

[2016-11-22 22:02] jrgleason commented on #277
P.S. (Dumb question)do we have a plunkr template for ng2-formly?

[2016-11-23 00:13] mohammedzamakhan commented on #277
@jrgleason use any plnkr from the website https://ng2.angular-formly.com/guides/

or use our template http://plnkr.co/edit/1siQrBH4CDUSzaDRFMO7?p=preview

[2016-11-23 04:27] franzeal commented on #263
@mohammedzamakhan Unfortunately, even with ng2-bootstrap the tabs don't seem to behave correctly (though I'll probably explore this more, because the tabs are the only reason I'd have a dependency on either library):  https://plnkr.co/edit/bd70U385pIinmyqnb5We?p=preview

Thank you very much, I appreciate that you shared the issue with ng-bootstrap folks and gave it a hard look.

[2016-11-23 13:32] jrgleason commented on #277
Hummm seems to work here http://plnkr.co/edit/2PO355o1F8mXXirwxCUK?p=preview I wonder what is different locally. Let me dig some more today.

[2016-11-23 13:44] jrgleason commented on #277
I tried copying the options and change settings over to my local still no dice.

I noticed you had...

`private userFields: Array<FormlyFieldConfig> = [];`

vs my

`connectorFields: FormlyFieldConfig = require("./connector-config-form.fields");`

When I try the Array version I see...

`ERROR in ./src/ng2/admin/connector/add/connector-config-add.component.ts
(38,29): error TS2339: Property 'change'

[2016-11-23 14:04] jrgleason commented on #277
One thing I am noticing is that in the plunker the versions of Zone and RxJS are higher. When I try to upgrade, npm throws a warning even though v7.1 of Zone is installed...

[code]

I have to downgrade to...

    "rxjs": "5.0.0-beta.12",
    "zone.js": "^0.6.25"

To get it to work without warnings. Could that be causing some of the issue? I will see if I can use the other versions in the example.

[2016-11-23 14:14] jrgleason commented on #277
Ok based on the Typescript message I added the change this way instead...

[code]

[2016-11-23 15:00] jrgleason commented on #277
Ok sorry about all that I finally got it to fail using plunker http://plnkr.co/edit/yvS90EYSEpYPXy0BRZ7s?p=preview

I think it has something to do with the RxJS I am using. But again it is weird that the options work fine.

[2016-11-23 15:06] jrgleason commented on #277
I must be wrong about the cause because removing RxJS does not seem to help....

http://plnkr.co/edit/iNJU7iD5XXHxyLI23rlb?p=preview

If I convert it back to the old template one it works again so it has to be something in the way I am configuring stuff. However, I can't really see a difference.

[2016-11-23 15:13] jrgleason commented on #277
Ok I have it and I will update the title. With `this.doSomething();` I see the console log like I would expect, however, when I add back in the delay and RXJS...

[code]

It no longer works. It looks like it is an issue with trying to set them asynch

[2016-11-23 15:36] jrgleason commented on #271
Related to https://github.com/formly-js/ng2-formly/issues/277 I believe

[2016-11-23 15:49] jrgleason opened #279 "Change needs to be added to FormlyTemplateOptions"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The code is as follows...

[code]

however, per http://plnkr.co/edit/OfcprFL35FxG3cHpF0Hz?p=preview, if I try to use this property it doesn't work like this `this.connectorFields[0].change`. I instead need to add it to the FormlyTemplateOptions like this... `this.connectorFields[0].templateOptions.change`.

Now in plunker

[2016-11-24 00:21] franzeal opened #282 "Field with nested property loses wrappers"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When a field's key uses nested properties, the field's type wrappers get lost.

**Expected behavior**
When a field's key uses nested properties, the field's type wrappers should remain.

**Minimal reproduction of the problem with instructions**
https://plnkr.co/edit/hJPG6QFfMDAYja9WSBd7?p=preview

[2016-11-24 09:33] aitboudad commented on #282
see #284

[2016-11-24 13:31] #282 closed

[2016-11-24 14:27] #279 closed

[2016-11-24 14:32] mohammedzamakhan commented on #277
Can you provide a plnkr for `OnChange isn't working when set async`

[2016-11-24 14:45] mohammedzamakhan commented on #271
Could this pull request be of any help to you? https://github.com/formly-js/ng2-formly/pull/286

[2016-11-24 14:46] mohammedzamakhan commented on #277
Since you referenced #271, I hope this PR could be of your help https://github.com/formly-js/ng2-formly/pull/286

[2016-11-24 15:07] #271 closed

[2016-11-25 07:29] ultimafirez opened #288 "RepeatSection cannot be reset properly."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I had been using ng2-formly 2.0.0-beta.4 for 4 months now and decided to try migrating all our forms over to the latest version (2.0.0-beta.13). This includes all the custom components I have created. All such migrations were relatively easy except for one difficulty I had, which was with the repeat section component (exac

[2016-11-25 12:30] #148 closed

[2016-11-25 12:30] #27 closed

[2016-11-25 12:41] mohammedzamakhan commented on #230
Any updates on this @Krustie101 ?

[2016-11-25 12:52] #245 closed

[2016-11-25 14:03] #262 closed

[2016-11-26 09:14] Krustie101 commented on #230
@mohammedzamakhan

See pull request #293

[2016-11-28 14:09] #277 closed

[2016-11-28 17:47] #288 closed

[2016-11-28 17:57] #182 closed

[2016-11-28 23:54] mohammedzamakhan commented on #166
Should we upgrade to rc after the fix of #270 and #230?

[2016-11-29 21:43] #230 closed

[2016-11-30 00:38] franzeal commented on #263
Just to follow-up, I was able to get the idea here to work.  I ended up implementing my own tabset and tab components and using a tabset service provided by the tabset and used by the tabs to essentially associate them.  Maybe there's a better way; hoever, this works for now, wasn't much effort, and allows me to use tabs in a flexible manner within our forms.

[2016-11-30 04:24] mohammedzamakhan commented on #263
Can you give the plnkr with your implementation. We can put that example on the website

[2016-12-01 15:32] jrgleason opened #301 "Allow for periods in key of radio"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
[Plunker](http://plnkr.co/edit/SN6wah4fLh0qbanSqtyM?p=preview)

If I have a key to a fieldGroup like `"key":"file.config.group.legend"` it fails but `"key":"legend"` works. The weird thing is, this only seems to be a limitation of a field Group not a field itself. For example this works....

[code]

**Expected behavior**

[2016-12-01 15:42] mohammedzamakhan commented on #301
I think this got fixed by #293

[2016-12-01 15:48] mohammedzamakhan commented on #301
In the demo application, I tried

[code]

and it saves it like

[code]

[2016-12-01 16:00] jrgleason commented on #301
Sorry not sure what "Demo application" and "saves it" means. Is there a plunker with the new version so we can confirm?

I tried that on plunker and got the same results...

https://plnkr.co/edit/uidAiWaD4hVptNDd5SPA?p=preview

[2016-12-01 16:03] jrgleason commented on #301
Sorry I think I understand, by saving it you mean what is in the ngModel right?

That looks like it should be fine for what we are doing. It might be nice to allow people to turn that feature off if they really want the string to have a period in the key, but then again that would be invalid JSON I believe.

[2016-12-01 16:03] mohammedzamakhan commented on #301
Right now you are using v2.0.0-beta.13, and we had a pull request after that by @Krustie101 #293 which probably resolved this issue. You cannot check this on plnkr, you have to clone this project to run the demo application.

Clone the project, install dependencies using (yarn or npm install) and run `npm run demo` to run the demo application included in this repository.

[2016-12-01 16:04] jrgleason commented on #301
Ok thanks I will try it out and get back to you

[2016-12-01 16:18] jrgleason commented on #301
Another little facet to this bug is that even though the form works with a period in the field name, this causes the label to fail. So for example [here](https://plnkr.co/edit/uidAiWaD4hVptNDd5SPA?p=preview) we don't see the address label, however, removing the period in the key shows the label. Will this be fixed as well?

[2016-12-01 16:27] mohammedzamakhan commented on #301
For now use this workaround https://plnkr.co/edit/o2gDlyQNqs3OXnwMdTzN?p=preview

[2016-12-01 16:32] mohammedzamakhan commented on #301
Check this demo https://plnkr.co/edit/o2gDlyQNqs3OXnwMdTzN?p=preview

It uses updated formly (which is not yet released)

[2016-12-01 18:39] franzeal opened #303 "repeated section produces errors"
**I'm submitting a ...**
[code]

**Current behavior**
The repeatSection produces ExpressionChangedAfterItHasBeenCheckedError errors.

**Expected behavior**
The repeatSection should not produce ExpressionChangedAfterItHasBeenCheckedError errors when initializing or modifying its array model.

**Minimal reproduction of the problem with instructions**
This plunker is a minimal example of the issue us

[2016-12-01 18:43] mohammedzamakhan commented on #303
duplicate of #270

[2016-12-01 18:43] #303 closed

[2016-12-01 21:12] jrgleason commented on #301
I just tried the demo that you mentioned and there are a couple things...

1.) Can I try this in my own app? I tried overwriting the bundle folder in node_modules but no dice.

2.) There appears to be an issue still. I changed the first couple like this...

<img width="1238" alt="screen shot 2016-12-01 at 4 09 30 pm" src="https://cloud.githubusercontent.com/assets/1319151/20812710/9b1ab65e-b7e0-11

[2016-12-01 21:20] jrgleason commented on #301
BTW I can confirm that the nested ones seem to work just not the "new" nested ones I make.

[2016-12-01 21:42] mohammedzamakhan commented on #301
@jrgleason looks like its the type: radio that didn't work with nested ones, but type input does work

[2016-12-03 00:32] #301 closed

[2016-12-03 07:39] franzeal commented on #263
https://plnkr.co/edit/hMZo3sXMqk35NckwYJCy?p=preview

[2016-12-04 03:10] mohammedzamakhan opened #307 "Field.validation.messages"
**I'm submitting a ...**  (check one with "x")
[code]
**Expected behavior**

Need field level validation mesages

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | A

[2016-12-05 02:47] jrgleason opened #308 "Not getting Typescript and Webpack config when using github and npm"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

1. Add `"ng2-formly": "git://github.com/formly-js/ng2-formly.git"` to package.json
2. Go into node_modules/ng2-formly
3. Run `npm install`
4. Notice it complains about the Typescript config.

**Workaround**

Copy files from a typical clone of the git repo

**Expected behavior**
I should get a valid build without work arou

[2016-12-05 02:49] jrgleason commented on #308
Looks like this is the culprit....

https://github.com/formly-js/ng2-formly/blob/master/.npmignore

[2016-12-05 04:36] mohammedzamakhan commented on #308
Please create a PR for the change 😄

[2016-12-05 18:01] jrgleason commented on #308
Will do, are we sure we want to allow these files to be downloaded over npm? Do we just need the build typescript config or the regular one as well? What Webpack configs should be included? All?

[2016-12-05 18:25] jrgleason commented on #308
There is your pull request... It seems cheap to become a contributing coder on something this menial.

[2016-12-05 19:20] mohammedzamakhan commented on #308
@jrgleason yayyy!!! Thanks 👍

[2016-12-05 19:20] #308 closed

[2016-12-05 19:31] jrgleason commented on #308
Still some issues unfortunately. I tried to only add a couple files and I was assuming some things would happen. This was not the case, however, I am curious why spec files are being used if we are not supposed to be callings tests when running build.

So the real question is, why would I get...

[code]

When running npm run build? shouldn't I need to run npm run test?

[2016-12-05 20:40] mohammedzamakhan commented on #308
Make sure that you make changes to your repo and make changes to it and instead of

[code]

use

[code]

and test it out in your next PR 😄

[2016-12-06 08:34] mohammedzamakhan opened #311 "Showcase Nativescript support"
🎉🎉 I think we need to document this in Readme file

https://mobile.twitter.com/wwwalkerrun/status/806030292590833664

[2016-12-07 14:27] parimal-padture opened #312 "How can i implement repeating section using ng2-formly"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected behavior**

As in anguar-formly we are allowed to add custom template which can be used to implement repeating section , so how can i implement that feature using ng2-formly
**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell

[2016-12-07 16:13] mohammedzamakhan commented on #312
Checkout our introductory example, which has an example of repeated section

https://ng2.angular-formly.com/guides/introductory-example.html

[2016-12-07 16:13] #312 closed

[2016-12-07 19:40] itcozum opened #313 "how can I possibly use ng2-translate with ng2-formly - fields-label?"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web

[2016-12-07 20:12] mohammedzamakhan commented on #313
http://plnkr.co/edit/IGB100i4VeouQzANShZJ?p=preview

[2016-12-07 20:12] #313 closed

[2016-12-08 07:18] parimal-padture commented on #312
Thanks that helped a lot.

[2016-12-08 17:55] mohammedzamakhan commented on #270
@aitboudad status?

[2016-12-08 20:59] aitboudad commented on #270
I'll provide a PR tomorrow

[2016-12-09 08:44] aitboudad opened #317 "FieldExpression does not applied to field with FieldGroup"
**I'm submitting a ...**  (check one with "x")
[code]

[2016-12-09 08:49] aitboudad opened #318 "[Validation] Hidden fields should be marked as valid"
**I'm submitting a ...**  (check one with "x")
[code]

[2016-12-09 10:39] aitboudad opened #321 "[BC][field-config] angular-formly use `wrapper` rather than `wrappers`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
https://github.com/formly-js/ng2-formly/blob/master/src/core/components/formly.field.config.ts#L12

**Expected behavior**

http://docs.angular-formly.com/docs/field-configuration-object#wrapper-string--array-of-strings

I think we can keep `wrappers` and add wrapper as an alias and mark it as deprecated

[2016-12-09 10:43] aitboudad opened #322 "[BC][wrapper] wrappers are rendered in the reverse order compared to angular-formly"
**I'm submitting a ...**  (check one with "x")
[code]

I noticed this after upgrading an app from ng1 -> ng2 we can keep our implementation but just we need to mention it somewhere

[2016-12-09 12:55] hassanthegooner opened #323 "Parameter 'x' implicitly has an 'any' type after adding ng2-formly modules"
**I'm submitting a ...**
[code]

**Current behavior**
_Completely new to ng2-formly and this is my first time submitting an issue so please go easy on me if I've made any mistakes._

After cloning the angular quickstart project, I've followed the instructions to install ng2-formly from the official website. Then I run `npm start` and I get these errors:

`node_modules/ng2-formly/lib/src/core/compo

[2016-12-09 16:12] ColinRTaylor commented on #321
@aitboudad is the fix to just change `wrappers` to `wrapper` ? How can I add this as an alias?

[2016-12-09 16:23] aitboudad commented on #321
I meant something like:

[code]

can you work on it ?

[2016-12-09 16:31] ColinRTaylor commented on #321
@aitboudad Yes, I'm going to give it a try and will submit a PR today, thank you very much!

[2016-12-09 16:49] #270 closed

[2016-12-09 17:08] aitboudad opened #325 "[field] allow providing custom formControl through field config"
**I'm submitting a ...**  (check one with "x")
[code]

**Expected behavior**

[code]

[2016-12-09 17:10] mohammedzamakhan commented on #317
@aitboudad I still see that it doesn't work

http://plnkr.co/edit/zFLjKwxVvNm1aSghMi6l?p=preview

[2016-12-09 17:18] mohammedzamakhan commented on #323
change` tsconfig.json` file

[code]

and add

[code]
 to `systemjs.config.js`

[2016-12-09 17:18] #323 closed

[2016-12-09 17:25] aitboudad commented on #317
I try to reproduce it in the demo app without success, could you check on your pc ?

[2016-12-09 17:41] mohammedzamakhan commented on #317
Even I can't reproduce it on my machine, its probably just the plnkr?

[2016-12-09 17:49] #317 closed

[2016-12-09 17:50] mohammedzamakhan commented on #317
Commented in the wrong issue

[2016-12-09 17:51] mohammedzamakhan commented on #270
This looks like issue in the plnkr now http://plnkr.co/edit/zFLjKwxVvNm1aSghMi6l?p=preview

[2016-12-09 17:53] aitboudad commented on #318
The easy way is to attach/detach the `formControl` using `removeControl` and `addControl`

[2016-12-09 19:01] #325 closed

[2016-12-09 19:49] franzeal commented on #321
In the interest of backwards compatibility, could we also do something to handle when only a single wrapper was defined in angular-formly:

[code]

[2016-12-09 20:38] MathijsHoogland opened #328 "Using callback function to reset field model when hidden"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Using Angular Formly, I am using 'hideExpression' to hide a field based on another field's model value. This works as expected. However, I need to reset the hidden fields model value when it becomes hidden. How can this be accomplished in Angular2-Formly? Is there some type of event I can hook?

**Expected behavior**
I was

[2016-12-09 21:28] aitboudad opened #330 "[buildForm] should be called only once"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
whend field config contains `FieldGroup` the [buildForm](https://github.com/formly-js/ng2-formly/blob/master/src/core/components/formly.form.ts#L34) is called for sub-field who is already builded [FormlyGroup](https://github.com/formly-js/ng2-formly/blob/master/src/core/components/formly.group.ts#L9)

[2016-12-09 21:37] franzeal commented on #328
I was able to do what you're describing with the approach below, but I'd like to know if there's a better way.  I've added field groups and nested properties so any issues those present are accounted for.

[code]

[2016-12-09 21:59] aitboudad commented on #318
if should be done in [toggleHide](https://github.com/formly-js/ng2-formly/blob/master/src/core/components/formly.field.ts#L206) something like

[code]
 I leave for someone who want to contribute :)

[2016-12-10 01:53] ampsarfraz opened #332 "ng2-select with formly"
**I'm submitting a support request

**Current behavior**
I am trying to use ng2-select (https://github.com/valor-software/ng2-select) with formly primarily to use the Multiple select functionality.  I have created a custom type , but I am not able to get the selected value to be set in the form data. I have created a plunker for this. Can you please help me resolve this?

https://plnkr.co/edit/9p6

[2016-12-10 02:04] mohammedzamakhan commented on #332
@ampsarfraz I hope this will be helpful https://plnkr.co/edit/j4A9AZ2B0BboSmUAyM7u?p=preview

[2016-12-10 02:04] #332 closed

[2016-12-10 02:12] franzeal opened #333 "Arrays in Property Keys"
**I'm submitting a ...**
[code]

**Current behavior**
When a field's key contains an array indexer, formly does not treat that part of the key as an array.

**Expected behavior**
When a field's key contains an array indexer, formly should treat that part of the key as an array.

**Minimal reproduction of the problem with instructions**
https://plnkr.co/edit/AnIVMgao1dvjHsSkTDHh?p=preview

**What i

[2016-12-10 02:15] mohammedzamakhan commented on #333
For now you can do this like https://plnkr.co/edit/XhsLoifpOR29Wyr0uY0V?p=preview

[2016-12-10 02:33] franzeal commented on #333
Sorry, I know I've seen that suggested before.  Workaround works fine, much appreciated!

[2016-12-10 02:38] mohammedzamakhan commented on #333
@Krustie101 is expert in solving this issue 😅

#293 PR had a solution to similar problem, but applied to different scenario.

[2016-12-10 11:08] #328 closed

[2016-12-10 11:21] MathijsHoogland commented on #328
@mohammedzamakhan not really sure why you closed this? This solution is obviously an extreme workaround that we should try to fix don't you think?

[2016-12-10 12:03] Krisa opened #334 "Asynchronous resolution of validation messages"
**I'm submitting a Feature (or Support) request **  (check one with "x")
[code]

**Current behavior**
This is possible to customise validation messages in the `forRoot` function. However, even so it's possible to tweak the messages a bit by using a synchronous function, this does not seem possible to resolve messages asynchronously, through e.g. Observable (let me know if I missed something).

**E

[2016-12-10 12:54] Krisa commented on #334
Guess I found something which fulfils partially what I'm asking: https://github.com/formly-js/ng2-formly/blob/503e803e27896f73042ef3024cad8321adf4a749/demo/hello.ts#L221

[code]

But it seems to only work when an `expression` is specified as well. Is there anything else?

[2016-12-10 13:01] mohammedzamakhan commented on #334
There's #307 that's in the pipeline. We hope that someone can help us with it by making their first PR for the repo 😁

[2016-12-10 14:07] Krisa commented on #334
This sounds good, but I'm not sure that's exactly the same. Does `Field.level.messages` applies at Form or at Field level? In my case, I'm not looking specifically at customising the message at field level, but instead looking at customising generic error messages, at least at Form level or ideally at application level (e.g. the error message for `required` or `minLength`). A bit like this https:/

[2016-12-10 16:17] mohammedzamakhan commented on #334
For that you always have setValidator in FormlyConfig https://github.com/formly-js/ng2-formly/blob/master/src/core/services/formly.config.ts#L138

[2016-12-10 16:38] Krisa commented on #334
We are getting closer. So much like this in forRoot, but instead directly in the component https://github.com/formly-js/ng2-formly/blob/master/demo/hello.ts#L552 ? However this does not seem to be the place where the messages can be customized, isn't it? Feels like `setValidationMessages` or similar is missing on `FormlyConfig`

[2016-12-10 19:21] mohammedzamakhan commented on #334
Makes sense 👍 I thought there is already a way for that. Can you make a PR for that?

[2016-12-11 11:13] Krisa commented on #334
While trying to make the PR, I realized that actually it already exists... Just need to include the service `private validationMessages: FormlyValidationMessages` in the Component constructor and then for example in ngOnInit to configure the required message: `this.validationMessages.addStringMessage('required', 'Field required!');`

It works also when wrapped into a setTimeout so ultimately, that

[2016-12-11 11:13] #334 closed

[2016-12-11 11:17] mohammedzamakhan commented on #311
Done on the website instead

[2016-12-11 11:17] #311 closed

[2016-12-11 21:41] divramod opened #335 "How to integrate ng2-formly-material2-templates"
**I'm submitting a ...**  (check one with "x")
[code]
Hey, thx for your work on ng2-formly.

i am trying to get ng2-formly running with the material2-templates.

After linking ng2-formly/lib/src/index.d.ts, my typescript compiler says that no member FormlyMaterialModule is existent. So i wanted to ask, why or how to integrate the material2 templates.

thx in advance

[2016-12-12 19:59] mohammedzamakhan commented on #321
@ColinRTaylor any update?

[2016-12-12 20:00] mohammedzamakhan commented on #335
Do you mean https://github.com/formly-js/ng2-formly-template-material ?

[2016-12-12 20:11] ColinRTaylor commented on #321
@mohammedzamakhan @aitboudad
I'm sorry but this is over my head. I tried over the weekend but couldn't get the tests to pass. Thanks for the opportunity though.

[2016-12-13 01:17] franzeal commented on #328
I've updated the above code sample.  Didn't realize AbstractControl had a root property, so no reason for the utility function.

[2016-12-13 03:24] #321 closed

[2016-12-13 11:37] bonaparte89 commented on #335
Yes I think thats what he meant.

[2016-12-14 18:02] Krisa opened #337 "Validators Expression not triggered for Checkboxes"
**I'm submitting a Bug**  (check one with "x")
[code]

**Current behavior**
[code]

**Expected behavior**
Clicking a checkbox shall trigger the expression, like it does for regular input text. I'm well aware that typing on a keyboard is different than clicking on a mouse. However is it something which could be supported?

My use case is that I'm building a form dynamically (in the sense that I'm n

[2016-12-14 19:50] #322 closed

[2016-12-14 20:06] #307 closed

[2016-12-14 20:19] mohammedzamakhan commented on #337
I see that its supported. Please post the plnkr with the issue

[2016-12-14 20:19] #337 closed

[2016-12-14 20:20] mohammedzamakhan commented on #335
@divyakumarjain was maintaining that repo. Feel free to contribute it. Will look into it in a week probably

[2016-12-14 20:21] mohammedzamakhan commented on #318
@aitboudad lets do this ourselves and graduate the library to RC asap.

[2016-12-14 20:28] aitboudad commented on #318
see #340

[2016-12-14 20:33] #318 closed

[2016-12-14 20:35] Krisa commented on #337
My bad sorry for this, in my project I had `input` instead of `checkbox` for the attribute `type` and I put `checkbox` in templateOptions, much like a normal input text... (the example above taken from the demo app is actually fine).

Now it works well, thank you for the quick feedback.

[2016-12-14 21:32] #330 closed

[2016-12-15 02:50] franzeal opened #344 "repeatSection / fieldArray does not emit form valueChanges"
[code]

**Current behavior**
When a form's fields contains a type that uses a fieldArray, valueChanges are not emitted to the form.

**Expected behavior**
When a form's fields contains a type that uses a fieldArray, valueChanges should be emitted to the form.

**Minimal reproduction of the problem with instructions**
https://plnkr.co/edit/SGBo5LZhv0tPOKu4dKuU?p=preview

**What is the motivation /

[2016-12-15 10:43] aitboudad commented on #344
see #345

[2016-12-15 12:38] #344 closed

[2016-12-15 17:24] mohammedzamakhan commented on #166
https://twitter.com/IgorMinar/status/807564558986514432?ref_src=twsrc%5Etfw
@IgorMinar

[2016-12-15 18:41] franzeal opened #346 "model / fields circular references"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
In testing the changes to address #344 (see #345) the fixes to the repeatSection's manipulation of the FormArray work as expected against beta 14.  With the latest build of formly, neither the old nor the fixed repeatSection implementations work correctly.  I expect this is a symptom of some other problem with the latest b

[2016-12-15 18:49] mohammedzamakhan commented on #346
Whats not working, it feels to me that it works, may be I didn't understand it

[2016-12-15 18:49] #333 closed

[2016-12-15 20:34] franzeal commented on #346
In the plunkers with the latest build, if you can look at the model when trying to use the repeatSection you should be able to see the problem.

I've commented out the model and fields JSON piped to the view because the JSON pipe will throw errors due to JSON.stringify not liking circular references.

I believe these are just a symptom of the problem.  I didn't quite know what to attribute or iden

[2016-12-15 21:34] mohammedzamakhan commented on #346
May be #343 and #345 going together caused this issue.

[2016-12-15 22:25] franzeal commented on #346
Doesn't appear that it could have been #345 because the repeatSection prior to that fix has the same problem with the latest build:

https://plnkr.co/edit/VIJtfp4eRSjZFPtE1ZlE?p=preview

[2016-12-16 15:46] aitboudad commented on #346
fixed by #347:
https://plnkr.co/edit/VNh8ccoyUJ6GSz7d0jKH?p=preview

[2016-12-16 17:51] #346 closed

[2016-12-16 18:04] mohammedzamakhan opened #349 "Repeat Section [Validation not being applied to investmentDate]"
https://github.com/formly-js/ng2-formly/blob/master/demo/hello.ts#L562

The date validation is not being seen on the demo application.

[2016-12-16 23:58] franzeal opened #350 "resetModel broken with FormArrays"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The ability to reset the model via options.resetModel is broken.  I've found that it has been broken starting with #329.  The following plunker uses that build of formly:
https://plnkr.co/edit/tK3LXcpGRwL3NM8rSb39?p=preview

**Expected behavior**
The following plunker uses the build of formly at #327, one commit prior with

[2016-12-17 14:16] aitboudad commented on #350
If you remove the `json` pipe for `fields` property you'll see that both example work as expected.

[2016-12-17 14:16] aitboudad commented on #350
Using the `json` pipe for `fields` property is not allowed anymore which can produce `Converting circular structure to JSON` as it contains `FormControl` instance

[2016-12-17 14:19] mohammedzamakhan commented on #350
@aitboudad I closed #349 thinking its related to this issue

[2016-12-17 14:25] aitboudad commented on #350
I'll look into it

[2016-12-17 14:44] #349 closed

[2016-12-17 14:58] mohammedzamakhan commented on #350
I think we should go for Release Candidate once this bug is closed. Will have to rename the project to `ng-formly` and have to change it to `1.0.0-rc.0` and also probably change the url for the website from `ng2` to `ng`

[2016-12-17 17:14] franzeal commented on #350
I've updated the plunker.  The broken example does not work as expected when commenting out the json pipe for fields.  Please observe what's in the model versus what's in the form.

[2016-12-17 17:28] aitboudad commented on #350
@franzeal see https://plnkr.co/edit/PffGnzwxaYi0jvCsfZiZ?p=preview

[code]

[2016-12-17 17:36] franzeal commented on #350
Try this:
https://plnkr.co/edit/HCc1ulSuOrOmNbLIn1v0?p=preview

[2016-12-17 17:46] aitboudad commented on #350
@franzeal I had move the `fields` into getter see https://plnkr.co/edit/XxRDEXIYmJ3iMzGzQaXb
is it ok for you ?

[2016-12-17 17:50] aitboudad commented on #350
see #353

[2016-12-17 17:52] franzeal commented on #350
The plunker you just linked (https://plnkr.co/edit/XxRDEXIYmJ3iMzGzQaXb) is using the wrong build of formly (note the description at the top) and replace the formly.js contents with the latest build.

[2016-12-17 18:04] aitboudad commented on #350
updated to the latest build see https://plnkr.co/edit/LkD7eReEFUsXakuMdqsQ?p=preview !

[2016-12-17 18:05] franzeal commented on #350
Can you edit items in the repeatSection in the plunker?  I'm unable to.

[2016-12-17 18:38] aitboudad commented on #350
fixed the issue of edit item, can you try again https://plnkr.co/edit/5rBWM4kjLKbRY80nLPcQ?p=preview

[2016-12-17 18:50] franzeal commented on #350
@aitboudad that seems to have done it, awesome work!  I really appreciate your effort, especially that you've taken time out of your weekend to look at this.

[2016-12-17 18:54] #350 closed

[2016-12-18 18:12] #166 closed

[2017-01-09 19:56] maranqz opened #356 "How use only formly-field without fomrly-form."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web

[2017-01-11 08:16] Gurwinder91 opened #357 "Disable submit button in ng2-formly"
**i am using Angular 2.0, Regarding ng2-formly form, i want to disable submit button when there is validation error in form.**

[code]
**Please let me know what i am doing wrong here?**

[2017-01-11 18:07] mohammedzamakhan commented on #357
Put your disable logic on your button

[code]

[2017-01-11 18:07] #357 closed

[2017-01-11 18:08] mohammedzamakhan commented on #356
Check this out https://github.com/formly-js/ng-formly/blob/master/src/core/components/formly.form.ts#L11

[2017-01-11 18:08] #356 closed

[2017-01-12 01:31] TyGp opened #358 "Can not get formly working as component using webpack admin template"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I am new to Angilar2 and try to embed the demo/sample code into admin template (ng2-admin) using lazyloaded component. But it keeps complaining about "Cannot read property 'formState' of undefined.". It looks as if it can not find or initiate the formly-form component.

Any suggestions or samples how to integrate formly i

[2017-01-12 06:17] Gurwinder91 opened #359 "Disable submit button"
** How to disable the submit button when there required field validation error in text field.**  (check one with "x")
[code]

**Current behavior**

**Expected behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome X

[2017-01-13 18:24] TyGp commented on #358
It works although I do not yet know why this new sample works and the old sample didn't work.

[2017-01-13 18:24] #358 closed

[2017-01-20 13:58] Stwissel opened #362 "Sample for loading form layout from service"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Not started yet - just want to know

**Expected behavior**

Can I load a form definition dynamically. E.g. by calling a service that loads JSON from URL with parameters.
If yes: I'll try and commit sample back.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the

[2017-01-20 14:24] mohammedzamakhan commented on #362
Yes you should be able to do that

[2017-01-21 13:41] aitboudad commented on #362
but it should be optional, as we won't want to add an additional deps (`@angular/http`) to our package.
Isn't enough to add just an example into the doc ?

[2017-01-21 18:49] franzeal commented on #362
I'm doing this in the application I work on, so it's certainly possible.

[2017-01-22 02:32] Stwissel commented on #362
Awesome. I had a working example with formly for Angular 1.x where an admin could store form definitions in a NoSQL (Mongo, Couch) to accommodate different form needs.
So I'll port this to Angular2 and report back

[2017-01-22 10:04] maranqz commented on #356
I insert "getFieldId" because i have "Uncaught SyntaxError: Unexpected token export".

Code component for single field.
[code]

Using it.
[code]

[2017-01-22 13:46] mohammedzamakhan commented on #359
Use disabled attribute to the button with the logic

[2017-01-22 13:46] #359 closed

[2017-01-25 12:50] Gaedr opened #365 "Problem adding a new property inside field"
**I'm submitting a ...**
[code]

**Current behavior**
I'm trying to extend the select input field to use multiple selected option in a bootstrap way including a property `multiple` inside in `select` tag.
[Bootstrap Forms](http://getbootstrap.com/css/#forms-controls)

For that purpose I'm now creating a custom type `multiselect` in a similar way the  *hello.ts+ example file:
[code]
Reading the cod

[2017-01-29 02:35] franzeal commented on #365
You always have the option to create your own field types that looks and behaves exactly how you need it to.  The demo (https://github.com/formly-js/ng-formly/blob/master/demo/toggle.ts) and ui-bootstrap (https://github.com/formly-js/ng-formly/blob/master/src/ui-bootstrap/types/select.ts) module are good examples that show how to do this.

[2017-02-01 19:20] #365 closed

[2017-02-01 19:20] mohammedzamakhan commented on #362
any updates @Stwissel ?

[2017-02-03 06:40] franzeal commented on #362
How's this?
https://plnkr.co/edit/wsLuTUiw5Xf8O3LygBhg?p=preview

[2017-02-09 12:26] apriyadarshi38 opened #370 "how to bind json object to value of ngModel"
hii
i want to set [model] in formly to a json which a value of a input field corresponds to a object rather than a string value.

for example

 self.formModel[settingItem.Key] =     {
                            'Value': settingItem.Value,
                            'rid': settingItem['@rid']
                        };

and applied [model]= self.formModel.keyName

[2017-02-10 04:24] franzeal commented on #370
Not entirely clear what you're after.  What's the type of the input field?  Can you create an plunker to demonstrate in Angular what you're trying to do (without trying to do it in formly)?

At worst you could create a custom control component that implements ControlValueAccessor and then a custom field component that integrates your custom control with formly.

Guide to implementing [ControlValue

[2017-02-10 09:09] apriyadarshi38 commented on #370
Thanks for the response,I want to know how can i implement "valueProp"
For Ex:
{
  key: 'roles',
  type: 'input',
  templateOptions: {
    label: 'Roles',
    options: {id: 1, title : "Administrator"},
    **valueProp**: 'id',
    **labelProp:** 'title'
  }
}

the above options are supported in "angular-formly" but don't know how to implement it in ng2-formly.

[2017-02-10 17:35] franzeal commented on #370
The only built-in types I'm aware of that use `labelProp`/`valueProp` are the select type:
https://github.com/formly-js/ng-formly/blob/master/src/ui-bootstrap/types/select.ts#L34

This is similar to angular-formly ([example](http://angular-formly.com/#/example/bootstrap-formly/select)):
https://github.com/formly-js/angular-formly-templates-bootstrap/blob/master/src/types/select.js#L26

Neither lib

[2017-02-11 19:15] aitboudad commented on #362
we can use https://github.com/angular/in-memory-web-api to simulate an HTTP request

[2017-02-11 19:17] aitboudad commented on #335
well I think we can move `ng2-formly-template-material` into this repo like we did for `bootstrap` WDYT ?

[2017-02-11 21:40] franzeal commented on #335
I don't have a strong opinion on it, but I'd like to see it go the other direction and move the ui-bootstrap module into a separate repo/library.

My hope would be that separating it would provide a good foundation for building additional UI libraries if they're not part of the core in addition to ensuring that anything in ng-formly that ui-bootstrap is using that's not exported will be available

[2017-02-12 12:04] turlife commented on #67
@mptorrejon  Hi, did you solve your problem?

[2017-02-12 12:10] aitboudad commented on #67
@turlife see https://github.com/formly-js/ng-formly/blob/master/demo/hello.ts#L159-L169

[2017-02-13 19:30] #370 closed

[2017-02-13 22:10] beeman opened #372 "Top-level repo needs to export everything from src/index.ts"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

NPM allows you to install the package straight from GitHub:

`npm install --save formly-js/ng-formly`

**Expected behavior**

When you do this, it will result in an error: `TS2307: cannot find module 'ng-formly'`

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing t

[2017-02-16 12:36] ampsarfraz opened #374 "Advanced Layout : Display a field value in a html section set inside the FormlyFieldConfig Array"
**I'm submitting a ...**  (check one with "x")
[code]
How to display the value of a field in a html template provided inside the FormlyFieldConfig Array?

For example , In the advanced Layout template , I have added the below section in the array to display the value of otherInput field, but it doesn't work. Can you please help me to make it work?
[code]

Plunker

https://plnkr.co/edit/ZFgRjuSfyDj

[2017-02-16 16:04] Knoxvillekm opened #375 "Export ConfigOption"
**I'm submitting a bug report**  (check one with "x")
[code]
I am write my own components for ng-formly and I want import ConfigOption from 'ng-formly' for set it in FormlyModule.forRoot({...}) but this is not work.

[2017-02-16 16:05] aitboudad commented on #375
@Knoxvillekm can you provide a PR ?

[2017-02-16 16:13] aitboudad commented on #374
template support only plain string values (angular doesn't allow that), to handle you use case just use a custom wrapper
Ex: https://github.com/formly-js/ng-formly/blob/master/src/ui-bootstrap/wrappers/description.ts

[2017-02-16 16:13] #374 closed

[2017-02-16 16:16] Knoxvillekm commented on #375
Just add ConfigOption to src/core/core.ts 27 line

[2017-02-16 16:24] Knoxvillekm commented on #375
And how canI fix lint error "The property "[valid, formControl, field, to]" that you're trying to access does not exist in the class declaration." in components html.  Components extends FieldType and have this properties.

[2017-02-16 16:57] #372 closed

[2017-02-16 17:26] mohammedzamakhan opened #376 "ngc "--project" "tsconfig.build.json" failing"
while `npm install` in the project, I see that this step `ngc "--project" "tsconfig.build.json"` is failing

[code]

[2017-02-16 17:39] aitboudad commented on #376
can you try with `yarn install` ?

[2017-02-16 17:52] mohammedzamakhan commented on #376
I was trying to publish to npm using npm publish

[2017-02-16 18:02] aitboudad commented on #376
see #377

[2017-02-16 19:53] aitboudad commented on #375
@Knoxvillekm can you open another issue and provide us more details, thanks

[2017-02-16 19:53] aitboudad commented on #375
fixed by #378

[2017-02-16 19:53] #375 closed

[2017-02-16 21:02] Knoxvillekm opened #379 "tslint failed on "no-access-missing-member""
**I'm submitting a ...**  (check one with "x")
[code]
In component's template tslinf failed on "no-access-missing-member":
[code]
Component extends FieldType. This property has only getter in declared class.

**Please tell us about your environment:**

* **awesome-typescript-loader:** 3.0.4
* **codelyzer:** 2.0.0
* **tslint:** 4.4.2

[2017-02-16 21:14] aitboudad commented on #379
related https://github.com/mgechev/codelyzer/issues/191, you need to disable the rule `no-access-missing-member` until `codelyzer` provide a support for extended classes

[2017-02-16 21:14] #379 closed

[2017-02-22 04:57] franzeal commented on #374
Here's a plunker demonstrating how I approach reproducing this capability that angular-formly had:
https://plnkr.co/edit/AISe9Np6QA2CnqdOrMqq?p=preview

[2017-02-22 15:46] #376 closed

[2017-02-23 14:18] kavi87 opened #382 "Error with angular@4.0.0-beta.7"
Hi !

**I'm submitting a ...**
[code]
**Current behavior**

The example on the README does not work with angular 4 beta ("Cannot read property "templateOptions" of undefined). Everything is fine with 2.4.8.

**Expected behavior**

To work with angular 4

[2017-02-23 14:42] aitboudad commented on #382
seems already fixed in master branch with #360 and it should be landed in the next release.

[2017-02-23 14:42] #382 closed

[2017-02-23 14:44] aitboudad commented on #382
@mohammedzamakhan can you publish a new version or just add me to `npm` and I'll take care of it.
Thanks

[2017-02-28 13:18] kavi87 commented on #253
Thanks for your work on this.

Do you have any progress on this feature ? Dynamic templates looks very hard in ng2. Maybe the ComponentFactoryResolver can be used to create dummy component dynamically for a given template while the formly module would expose a static method for registering all dynamic component to its entryComponent section.

[2017-02-28 21:44] aitboudad commented on #253
not sure if there is a clean way for this right now, we should wait until https://github.com/angular/angular/issues/11716 is implemented

[2017-03-09 09:08] JimSangwine opened #384 "Repeat section validation does not impact main form."
**I'm submitting a ...**

[code]

**Current behavior**

Repeat section FormGroups can be invalid, but they do not invalidate the parent FormGroup. I think this is because they do not have a parent assigned.

[code]

**Expected behavior**

When there are validation errors in a repeat section the whole form should be invalid.

**Minimal reproduction of the problem with instructions**

https://plnkr.

[2017-03-09 11:39] ampsarfraz commented on #382
hi .. any ETA on this? Please let us know. Thanks

[2017-03-09 11:42] aitboudad commented on #382
in the meantime you can use `npm install --save formly-js/ng-formly`

[2017-03-09 12:51] aitboudad commented on #384
could you provide a plunkr or a repo reproducing the issue?
Not sure if it's related to `ng-formly` or `@angular/forms`

[2017-03-10 02:52] JimSangwine commented on #384
Sure, I've updated the original post with a plunkr.

This is using your demo plunkr (so old versions of everything) but the behaviour is identical on the versions I specified.

[2017-03-10 03:39] franzeal commented on #384
Try this:
https://plnkr.co/edit/8UikbtwdRMqVr8cQPLox?p=preview

[2017-03-10 04:15] JimSangwine commented on #384
Thanks @franzeal - that seems to work.

For future visitors, the magic is in the repeatedSection file.

[2017-03-10 10:14] aitboudad commented on #384
I see what's happen now, instead of using `ChangeDetectorRef` I would using `updateValueAndValidity` but still a workaround to me :)

[code]

once I have some time (maybe next week) I'll try to find a clean way

[2017-03-10 18:46] Knoxvillekm opened #390 "Lifecycle onChanges not working"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Lifecycle onChanges not working

**Expected behavior**

After change text in intup trigger onChanges from Lifecycle

**Minimal reproduction of the problem with instructions**

https://plnkr.co/edit/IGjGuXvJ73eP9GB10D60?p=preview

[2017-03-10 23:34] franzeal commented on #390
I'm not convinced that `onChanges` isn't working as intended (I wouldn't expect this to fire unless the inputs on the `FormlyField` are changing).

If you're wanting to respond to changes in the value of the field, there's the templateOptions.change handler for that (which appears to be debounced).  If that's what you're after, see here:  https://plnkr.co/edit/ChMyhwC8UpRZwF5XHz52?p=preview

I've

[2017-03-11 02:00] JimSangwine commented on #384
Thanks very much guys!

[2017-03-11 09:41] mnaveenriaz opened #391 "FormControl for Hidden Fields not loaded in form.controls - Angular 4"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I have a ng2 form with a few hidden fields and a few visible fields. In the field definitions, there is no connection between hidden and visible fields except thru lifecycle events.
[code]

When user updates a visible field, the hidden field value are set using
[code]

But after upgrading to Angular 4, the formControls for

[2017-03-12 11:03] aitboudad commented on #391
can you provide a plunkr or a repo reproducing the issue?

[2017-03-12 18:53] Knoxvillekm commented on #390
How to use ngModelChange?

[2017-03-12 23:08] franzeal commented on #390
I think you should be able to subscribe to `modelChange` from the `onInit` lifecycle hook.  Keep in mind, this is effectively a subscription to the `formControl.valueChanges` for the field because these are reactive forms.

You could make the subscription/unsubscription simpler by implementing this as a `to` hook for a custom field type or base class that all your custom field types inherit from.

[2017-03-17 09:58] mohammedzamakhan commented on #382
@aitboudad I added you on npm 🎉🎉

[2017-03-17 14:56] aitboudad commented on #382
thanks!

[2017-03-17 15:32] aitboudad commented on #382
@kavi87 @ampsarfraz a new version is released (`1.0.0-rc.2`) that support angular 4.

[2017-03-17 16:12] Callehabana opened #394 "Share values of inputs between multiple ones"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I have a fom and I would like one of my input take the value calculated with values from two others. On this plunker, you have an example of what I would do : An Input that gets the values of the last and first name to make a full one.
I took example/forked of your plunker about defaut values :
https://plnkr.co/edit/x0Ri0

[2017-03-17 16:37] mohammedzamakhan commented on #394
Working example https://plnkr.co/edit/uxiTED5kp0j07iYpsduc

[2017-03-17 17:49] #394 closed

[2017-03-20 05:24] sainath-vanjare opened #395 "ngonchange is not working in ng2-formly"
I'm submitting a bug report where ngOnChange and binding is not working for dynamically added Components.

[ ] bug report => search github for a similar issue or PR before submitting
[ ] feature request
[ ] support request
[code]

[2017-03-20 08:07] Knoxvillekm opened #396 "FormArray validation"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

How to best validate all controls in FormArray?

**Minimal reproduction of the problem with instructions**

https://plnkr.co/edit/5fnx4MxHFQpqncG7Jcm5?p=preview

[2017-03-20 15:00] aitboudad commented on #395
see https://github.com/formly-js/ng-formly/issues/390

[2017-03-20 15:03] aitboudad commented on #390
The best approach to me is to rely on what angular provides (subscription to `formControl.valueChanges`)

[2017-03-20 15:12] aitboudad commented on #396
What is your use case?
you can add your custom validation in the `fieldArray`:
[code]

[2017-03-21 11:41] #395 closed

[2017-03-21 11:41] #391 closed

[2017-03-22 06:39] parimal-padture opened #397 "lifecycle.onChanges event is not working"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

The onChanges event under lifecycel is not called whenever the value in field is changed.

**Expected behavior**

The onChanges event must be fired when the value in field is updated
**Minimal reproduction of the problem with instructions**

`{
	key: 'test',
	type: 'select',
	templateOptions: {
		label: "sampleList",
		re

[2017-03-22 06:52] parimal-padture opened #398 "Watchers are not supported."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

watchers are not supported.
**Expected behavior**

Must be able to watch a field for value changes.
**Minimal reproduction of the problem with instructions**

`watcher: {
          listener: function(field, newValue, oldValue, form) { }
}`
**What is the motivation / use case for changing the behavior?**

**Please tell us

[2017-03-22 18:55] aitboudad commented on #397
see https://github.com/formly-js/ng-formly/issues/390#issuecomment-285814403

[2017-03-22 18:57] aitboudad commented on #398
watcher is not part of angular itself that why we did't add support of it

[2017-03-25 15:18] #398 closed

[2017-03-27 15:50] jacobharasimo opened #399 "Angular 4 compatibility"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Angular 4 compatibility

**Expected behavior**

`<template>` element is deprecated. Use `<ng-template>` instead

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

Providing support and functionality for new version of angular.

**Please tell us abo

[2017-03-27 16:23] aitboudad commented on #399
The latest version of `ng-formly: 1.0.0-rc.2` is fully compatible with ng 4, can you check which version of `ng-formly` you use?

[2017-03-27 17:53] #397 closed

[2017-03-27 17:53] #362 closed

[2017-03-30 12:34] jacobharasimo commented on #399
I was using "ng2-formly": "2.0.0-beta.14" as that seamed to be the newist published release

[2017-03-30 12:34] #399 closed

[2017-03-30 16:36] b4z81 opened #400 "Multiple Checkbox example"
**I'm submitting a ...**
[code]

**Current behavior**

I can't use multiple checkbox inputs.

**Expected behavior**

Could someone post an example of multiple checkbox?

[2017-03-31 04:01] franzeal commented on #400
As used in the [demo](https://github.com/formly-js/ng-formly/blob/master/demo/hello.ts):

[code]

[2017-03-31 12:27] Gurwinder91 opened #401 "Regarding dynamically toggle of required and disable of textbox on the basis of checkbox value"
**I'm submitting a ...**
[code]

**Current behavior**
I am setting disable dynamically on the basis of checkbox unchecked and when i pushing required validation when checkbox is checked then i got following error.

Getting Error --- Expression has changed after it was checked. Previous value: 'true'. Current value: 'false'. when i pushing required validation in the field.

                   userF

[2017-04-03 14:32] aitboudad commented on #401
Hi,
I'm not able to reproduce your issue please ensure you are using the latest version of `ng-formly: 1.0.0-rc.2` and check again.

[2017-04-04 17:00] Almar commented on #374
Would this solution work with aot?

[2017-04-05 09:43] NomanYaqoob opened #402 "Focus on a particular element in ng2-formly"
I am looking for feature that will focus me on invalid field on submitting the form. One way of doing is to dynamically providing directive which is not yet supported or I can say a very long way to implement focus.

Thanks

[2017-04-05 17:27] franzeal commented on #374
It should.  My expectation would be that some components may need to be exposed as [entryComponents](https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#entryComponents-anchor).

A colleague of mine is setting up the build process which includes aot and I believe he's well past that point.  I have no visibility to that work to verify and know the details, but will at some po

[2017-04-05 17:49] mohammedzamakhan commented on #402
We do support focusing on any field using field property.

[2017-04-05 17:49] #402 closed

[2017-04-07 05:05] NomanYaqoob opened #403 "Focus on input Element"
I need to focus on formly element on button click.. how can I achieve this ? please help

[2017-04-07 07:52] #403 closed

[2017-04-11 07:16] stephanjust opened #404 "Formly duplicates provided classNames"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
In nested forms formly duplicates classNames by applying them to the formly-field and the inner formly-form (the container for the inner field).

Our JSON roughly looks like:
[code]
and Formly generates the following HTML:
[code]
**Expected behavior**
The className of the fieldGroup should only be applied once. This worked

[2017-04-11 10:36] #401 closed

[2017-04-11 10:36] #396 closed

[2017-04-11 10:53] #404 closed

[2017-04-12 14:31] #400 closed

[2017-04-24 11:44] hassanthegooner opened #406 "Required validation should be ignored when hideExpression applies (true)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When a field is hidden using hideExpression, the "required" templateOption should not apply. At the moment, it is still being applied even if the field is hidden.

**Expected behavior**
Required should be ignored when the hide expression applies

Example JSON below:

[code]

[2017-04-24 16:37] batonmedia commented on #404
Please update npm package.

[2017-04-24 19:16] aitboudad commented on #404
a new version is published now, please check it!

[2017-04-24 19:23] aitboudad commented on #406
Hi, I think it is an expected behavior when a field is hidden means it is not part of the form anymore.
To solve your issue you can use custom validation and pass it into the parent field

[2017-04-25 03:43] franzeal commented on #374
I figured I'd pass these along as they're related.  Hopefully we'll work through this, but I've not had the opportunity to do so personally.

Angular 2:
http://stackoverflow.com/a/41460129/4236606
https://github.com/angular/angular/issues/11780

http://blog.assaf.co/angular-2-harmony-aot-compilation-with-lazy-jit-2/
https://github.com/shlomiassaf/lazy-jit

Angular 4:
https://github.com/angular/ang

[2017-04-25 09:47] hassanthegooner commented on #406
Hi,

Yes we can probably do that but wouldn't the complexity increase for each nested/connected field? In Formly 1, if the field was hidden then the validation was ignored which to me makes sense and would be a great addition to Formly 2. Are there any plans to add this feature?

[2017-04-25 09:51] aitboudad commented on #406
sorry I misread the issue, the validation for hidden field should be ignored, can you tell me what version of `ng-formly` do you use ?

[2017-04-25 10:47] hassanthegooner commented on #406
2.0.0-beta.14

[2017-04-26 11:54] stephanjust commented on #406
I think I just face the same issue (or a similar one). It appears that formly shows error messages for disabled fields if they're dirty.

I can reliably reproduce it in our local project:
A form with 2 fields, the first being a toggle to disable the other one. If you simply toggle the second field without ever typing in it formly shows no error message. As soon as you type in the second field (so

[2017-04-27 09:40] ericof opened #408 "reverseDeepMerge throws an exception when dealing with readonly property"
**I'm submitting a ...**
[code]

**Current behavior**
Using the following model

[code]

reverseDeepMerge will throw a TypeError exception when setting the value of foobar.

**Expected behavior**
reverseDeepMerge will not throw the exception and will proceed with the merge of src and dest.

**Minimal reproduction of the problem with instructions**
A form with a model that contains either readonly

[2017-05-01 15:49] aitboudad commented on #406
@stephanjust in some case showing error message for disabled filed is useful and I think it's an expected behavior.
Correct me if I'm wrong :)

[2017-05-01 15:50] aitboudad commented on #406
fixed by #410

[2017-05-02 16:05] aitboudad commented on #406
@hassanthegooner `1.0.0-rc.4` is published, let me know if it's ok for you

[2017-05-03 03:50] rjsteinert opened #411 "Forms do not render, console says "TypeError: Cannot read property 'templateOptions' of undefined""
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Install ng-cli, generate a new app, start the app, follow the instructions for the hello world in the README, see lots of errors in the console.

<img width="715" alt="screen shot 2017-05-03 at 6 34 09 am" src="https://cloud.githubusercontent.com/assets/156575/25647521/56757a44-2fcb-11e7-9863-01da18dc20b0.png">

**Expecte

[2017-05-03 05:15] franzeal commented on #411
Should already be fixed, see https://github.com/formly-js/ng-formly/pull/383

It hasn't made a release, but you could reference that or a later commit in the meantime.

[2017-05-03 10:10] aitboudad commented on #411
@rjsteinert see https://github.com/rjsteinert/ng-formly-hello-world/pull/1

[2017-05-03 10:10] #411 closed

[2017-05-03 13:44] hassanthegooner commented on #406
It's partially working.

I have a custom multicheckbox with a very similar implementation to the multicheckbox in Fomly. The only difference in my implementation is that I am attaching a validator to the whole FormGroup:

`
static createControl(model: any, field: FormlyFieldConfig): AbstractControl {
    let controlGroupConfig = field.templateOptions.options.reduce((previous, option) => {
      pr

[2017-05-03 14:02] aitboudad commented on #406
@hassanthegooner It would be helpful if you can provide me a full example that I can reproduce on my side

[2017-05-03 14:09] hassanthegooner commented on #406
@aitboudad in-progress. Thanks

[2017-05-03 16:07] hassanthegooner commented on #406
@aitboudad Sorry for taking so long.. finally got the plunker working. Here it is: [plunker](https://plnkr.co/edit/qozmugeETECSq3vYYgjO?p=preview)

[2017-05-03 16:42] rjsteinert commented on #411
@aitboudad @franzeal So awesome! Works now. Thank you for the support. We might use ng-formly for our rewrite of the Open Source survey software Tangerine which has been used by over 30 organizations to conduct over 1 million assessments and surveys in over 50 countries and in 100 languages. https://github.com/Tangerine-Community/Tangerine

[2017-05-04 11:20] aitboudad commented on #406
Thanks I can reproduce it, for a quick fix you can check https://github.com/aitboudad/ng2-formly/commit/327399793e8135765478eeedfcce75b00d8d0a38#diff-20a28cc7f674c75babd0efff8e70bb9c

[2017-05-05 19:34] laterbreh opened #413 "How to determine if there is error in the form?"
**I'm submitting a ...**  (check one with "x")
[code]
I have followed the readme here on github and have my form working. All I am trying to do is disable the submit button when there is an error on the form. What would be the variable I can test to determine if the form contains an error so I can disable the submit button?

I have tried {{form | json}} to view its properties and none of them chan

[2017-05-06 01:54] franzeal commented on #413
You can determine that from the `form` you pass to the `FormlyForm`.  That `form`, a [FormGroup](https://angular.io/docs/ts/latest/api/forms/index/AbstractControl-class.html), inherits from [AbstractControl](https://angular.io/docs/ts/latest/api/forms/index/AbstractControl-class.html) which has properties for valid, invalid, etc.

Demo Plunker:  http://embed.plnkr.co/5VOGurddzHJFWn2Qz4Yx/

[2017-05-06 02:05] laterbreh commented on #413
Fantastic! I knew it was something simple. I'm going to read up more on the standard form documentation so I can not make silly mistakes like this again.

Thank you for your input!

[2017-05-06 02:05] #413 closed

[2017-05-11 03:15] franzeal commented on #374
Following up again.  I can confirm that this will work just fine in an AOT application.  The important thing to realize is these dynamic templates do require the JIT compiler, so for in AOT it must be provided (see the above links).  We ended up providing our own ResourceLoader as well, though that may have been more a result of using Rollup.

[2017-05-12 11:46] shohrukh92 opened #414 "How to handle dynamic options in 'select' type"
[code]

Hi all!
Is there a way in **ng-formly** to handle dynamic options in select type?
(similar [issue](https://github.com/formly-js/angular-formly/issues/202) from **angular-formly**)

[2017-05-12 14:34] hassanthegooner commented on #406
@aitboudad it's not working for me. From what I've noticed, it seems like the hidden FormControl is not being removed from FormGroup (even though it should?)

[2017-05-12 21:59] aitboudad commented on #406
@hassanthegooner thanks for the details I'll try to investigate on this as soon as possible

[2017-05-13 06:12] franzeal commented on #414
Certainly.  If you can do it in Angular, you can do it in ng-formly.  This plunker demonstrates a customized select that's intended to work with objects (group capability isn't fleshed out), restore selection, and handle default values:

https://plnkr.co/edit/lJicJlV1Q2lnbXP9dsUF?p=preview

There's certainly more that could be done to flesh it out, but it currently meets my use case.  I handle mul

[2017-05-15 06:40] shohrukh92 commented on #414
Thanks for these examples. Is there a way to use arrow function instead of `onInit: function() {...}` and still get the access to `to.options` param?

[2017-05-16 04:21] franzeal commented on #414
Not that I'm aware of.  The lifecycle callbacks bind the field component instance to "this" when invoking the callback, which using an arrow function overrides:
https://github.com/formly-js/ng-formly/blob/6cafbd06f9eee95bdcaf397b472b5db63b985ff9/src/core/templates/field.type.ts#L43

[2017-05-16 10:27] hnguyenec opened #415 "Custom type "extends" Input type but not "extends" Input features"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I follow the example
https://plnkr.co/edit/b0TOg5IYPCDp6fZFyNes?p=preview
I can see `name: 'datepicker', component: FormlyDatePicker, extends: 'input'`
But I dont know what configs/functions that 'datekicker' will inherit from Input type
I put keyup event in
`this.fields =  [
      {
        key: 'date',
        type: 'da

[2017-05-16 12:01] aitboudad commented on #406
@hassanthegooner for nested keys the model value in `hideExpression` contains only the parent model value, in order to target the root model in expression you should use the formState:
[code]
Also do not forget to pass the following options in your `formly-form` component.
[code]

[2017-05-16 12:02] aitboudad commented on #406
fixed and published under `1.0.0-rc.5`

[2017-05-16 12:53] ruchitFirstAI opened #418 "Browse File Button"
Hello Team,

Recently I have downloaded this node module, and I am wondering about how to use browse file button functionality or something related to that.

[2017-05-16 13:38] shohrukh92 commented on #414
This is an answer for my last question I believe :)
https://github.com/formly-js/ng-formly/blob/master/demo/src/app.component.ts#L171

[2017-05-16 13:38] #414 closed

[2017-05-16 15:58] williegreat opened #419 "Support for Angular 4 and Roadmap for the future developments"
Hello,

In the past we have had a very good experience in working with **formly** on a large and complex Angular 1.X application.
We are starting a brand new project in Angular 4 and we want to heavily rely on **ng-formly**.
We started to integrate our project(based on Angular-CLI) with **ng-formly** and encountered with dependencies issues(like **npm WARN ng2-formly@2.0.0-beta.14 requires a peer

[2017-05-16 16:11] franzeal commented on #419
The current release candidate supports Angular 4 and is backwards compatible with version 2.
https://github.com/formly-js/ng-formly/releases/tag/1.0.0-rc.4

Your package references need to point to "ng-formly" as opposed to "ng2-formly".

[2017-05-16 16:12] #419 closed

[2017-05-16 16:13] mohammedzamakhan commented on #418
Just create your own `FieldType`!

[2017-05-17 00:26] franzeal commented on #418
@ruchitFirstAI, you can refer to the [demo](https://github.com/formly-js/ng-formly/blob/master/demo/src/formly/types) or [source](https://github.com/formly-js/ng-formly/tree/master/src/ui-bootstrap) for examples of how to create your own `FieldType`.

Along those lines, you can also wrap other libraries in an Angular [control](https://angular.io/docs/ts/latest/api/forms/index/ControlValueAccessor-

[2017-05-18 06:30] hnguyenec opened #420 "Cannot reset Wrappers list for existing types"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I am generating data to pass to formly
If type doesnt have 'description' I set wrappers = ['fieldset'] only
But when it is rendered, still render with label wrapper, it means it still get default wrappers=['fieldset', 'label']

However, if using **wrapper** it works
even got the warning of : 'wrapper is deprecated. Use 'w

[2017-05-18 16:37] erickconcepcion opened #421 "On demo "import { clone } from '../../../../src/core/utils';" doesn't exist."
On demo /src/formly/types/repeatedSection.ts line 4 thiere is a call to import { clone } from '../../../../src/core/utils'; but this module doesn't exist.
[ x ] bug report =>https://github.com/formly-js/ng-formly/blob/master/demo/src/formly/types/repeatedSection.ts

**Current behavior**
'../../../../src/core/utils' isn't on repo

**Expected behavior**
the module must be added.

[2017-05-18 16:55] aitboudad commented on #421
see #422

[2017-05-18 16:55] #421 closed

[2017-05-19 06:28] franzeal commented on #420
I don't think setting the wrappers on the field should override the wrappers on the type.  The way ng-formly's "wrappers" behave is in line with angular-formly's.

In this case, "wrapper" was added to subsequently ease migration from angular-formly.  Given that, the behavior of "wrapper" would appear to be a bug and likely not what was intended.

The example in the demo involving a horizontal inpu

[2017-05-19 09:02] ruchitFirstAI commented on #418
Hello Team,

Thanks for your suggestion.

[2017-05-19 09:02] #418 closed

[2017-05-19 09:04] ruchitFirstAI opened #423 "FormlyModule.forRoot(NgFormlyConfig)"
Hello Team,

I am using angular 4, but when I am trying to import this "FormlyModule.forRoot(NgFormlyConfig)", at that time I faced error

" Function calls are not supported. Consider replacing the function or lambda with a reference to an exporte
d function (position 8:34 in the original .ts file) "

Thanks,

[2017-05-19 11:32] hassanthegooner commented on #420
Think I've got a similar problem. I've set `wrapper: null` in my JSON but the description wrapper still shows?

[2017-05-19 14:49] hassanthegooner commented on #406
Hi,

For me the issue still exists when hiding fields with nested keys even though I'm using formState. I've done some debugging to see what's happening with the FormGroup and detailed my findings below:

### Example JSON ###

[code]

- Non-hidden field key: `data.external.seal_broken.findings.value`

- Hidden field key: `data.external.seal_broken.action_taken.value`

- Hide expression: `formState

[2017-05-19 14:56] aitboudad commented on #406
plunker would be helpful :), thanks!

[2017-05-19 15:13] hassanthegooner commented on #406
[Plunker](https://plnkr.co/edit/ZtP12iPx4g474jsyHs2i?p=preview)

[2017-05-19 15:24] franzeal commented on #423
I believe that's particular to AoT compiliation.  I would try setting the anonymous functions used throughout the config options in demo\src\formly\index.ts to reference an exported function as the error message suggests.

e.g.
[code]

becomes:

[code]
and
[code]

[2017-05-19 15:40] aitboudad commented on #406
@hassanthegooner well explained :+1: now I see what's happening

[2017-05-19 19:11] aitboudad commented on #406
@hassanthegooner can you test my fix https://github.com/formly-js/ng-formly/pull/424

[2017-05-20 19:28] hassanthegooner commented on #406
@aitboudad It works! 😎👌🏽

[2017-05-20 19:32] aitboudad commented on #406
That's great! and thanks for your patience

[2017-05-20 19:32] #406 closed

[2017-05-21 01:58] hnguyenec opened #426 "the validation of repeatSection custom type doesnt not affect the main Form valid status"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I have tried the example, remove all types except for the repeatSection
Model was set to
`this.user = {
      investments: [{}
      ],
    };`

Also output the main form valid status

Even all sub required types of repeatSection type are Invalid
The main form status still TRUE

**Expected behavior**

**Minimal reproducti

[2017-05-21 03:14] mohammedzamakhan commented on #420
Check the usage is the demo example, you should create a new type, using the existing component

https://github.com/formly-js/ng-formly/blob/a76b3060f3386710352798728c44f8acd363d1e0/demo/hello.ts#L543

[2017-05-21 03:28] mohammedzamakhan commented on #415
DatePicker is a custom type that is created in that plnkr, you will have to add the methods that ngbDatepicker provides to the FormlyDatePicker using how FieldTypes are defined and use them

[2017-05-21 03:28] #415 closed

[2017-05-21 09:23] aitboudad commented on #426
see #427

[2017-05-21 10:23] aitboudad commented on #384
fixed by #427

[2017-05-21 10:23] #384 closed

[2017-05-21 10:23] #426 closed

[2017-05-22 01:40] hnguyenec opened #428 "Label wrapper should be able to render html-formatted string"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

`<label [attr.for]="id" class="form-control-label">{{to.label}}</label>`
**Expected behavior**

`<label [attr.for]="id" class="form-control-label" [innerHtml]="to.label"></label>`
**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us a

[2017-05-22 09:20] nikul1993 commented on #423
I have started angular 4 project. this is my first angular project and I am facing the same issue. what is the shortest way to solve that. if you give example, that more use full.

Thanks in advance.

[2017-05-22 12:12] ruchitFirstAI commented on #423
Hello Team,
can you please rephrase above things, so we will get more idea about how to use in angular4.

[2017-05-22 13:53] aitboudad commented on #423
@ruchitFirstAI can you provide us your `NgFormlyConfig`

[2017-05-22 14:05] ruchitFirstAI commented on #423
Yea sure @aitboudad

Below are the ngFormlyConfig

import { Validators } from '@angular/forms';
import { ConfigOption } from 'ng-formly';

export const NgFormlyConfig: ConfigOption = {

  validators: [{ name: 'required', validation: Validators.required}],
  validationMessages: [
    { name: 'required', message: (err, field) => `${field.templateOptions.label} is required.`},
    { name: 'invalidEma

[2017-05-22 14:22] aitboudad commented on #423
@ruchitFirstAI instead of lambda function used in `required` and `minlength`:

[code]

you should pass an exported function:

[code]

[2017-05-23 04:37] ruchitFirstAI commented on #423
Hello @aitboudad
It's Working and helpful.
Thanks for your support...!

[2017-05-23 09:23] #423 closed

[2017-05-23 09:44] nikul1993 opened #429 "Click on Submit validation message call"
Hello team,

i have disable the submit button using this.

<button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>

but i am wondering that how to call validation message on click submit button.

[2017-05-23 10:40] hassanthegooner opened #430 "hideExpression not working correctly when using formState"
**I'm submitting a ...**
[code]

**Current behavior**
When using formState in the hideExpression, combining two conditions does not work. Tested each of the conditions individually, and they both work - but using them together only evaluate one of the conditions (seems like it chooses the small condition but not too sure).

**Expected behavior**
hideExpression should evaluate multiple conditions

[2017-05-23 15:55] aitboudad commented on #430
@hassanthegooner I think you misunderstanding how hideExpression works, try with `||`:

[code]

[2017-05-23 21:21] hassanthegooner commented on #430
I think you might be right 😳 It's been a long day

[2017-05-23 22:31] erickconcepcion opened #431 "Validation messages to custom type"
[ ] bug report
[ x ] feature request
[ x ] support request
[code]

[2017-05-24 07:36] aitboudad commented on #430
No problem!

[2017-05-24 07:36] #430 closed

[2017-05-24 07:38] aitboudad commented on #431
You have to define a new wrapper, see for example: [message-validation](https://github.com/formly-js/ng-formly/blob/master/src/ui-bootstrap/wrappers/message-validation.ts)

[2017-05-24 07:46] aitboudad commented on #335
FYI I'll provide an initial work this week.
\cc @rjsteinert

[2017-05-24 07:57] aitboudad commented on #429
do you want to display message validations without submit form, right?
The messages is displayed when field is marked as touched see [field.ts#L25](https://github.com/formly-js/ng-formly/blob/master/src/core/templates/field.ts#L25) but you can change it by overriding `valid` method and if you want to do it manually just call `markAsTouched` method:
Try with:
[code]

[2017-05-24 08:00] aitboudad commented on #428
Hi, render an html in label is not a common use case and so instead we can introduce a new option that render html content WDYT ?

[2017-05-24 08:38] nikul1993 commented on #429
@aitboudad

i want like this https://codepen.io/jaycbrf/pen/iBszr click on send button without fill the input.

when user click on submit button that time validation message come.

[2017-05-24 08:45] aitboudad commented on #429
ok I see, I'll try provide you a working example in the next few days (probably tomorrow)

[2017-05-24 10:00] rjsteinert commented on #335
@aitboudad Thanks for the heads up.

@franzeal My guess is that 95% of people will use either Bootstrap or Material which would justify having them in this main repository. However, of those 95% of people there will be a currently unknown percentage of them who want to also provide their own custom form elements and for that use case we're definitely talking about having Formly Form Element Compon

[2017-05-24 14:57] mohammedzamakhan commented on #335
@rjsteinert Formly provides two options to define your types, one by using `FormlyModule.forRoot()` to define the types, validations, etc, but we also can define types, validations etc whenever we require by using the service `FormlyConfig`, which provides methods like `setType`, `setWrapper`, `setValidator`, `setManipulator`

[2017-05-25 00:33] hnguyenec commented on #428
Yep, html-label is a good option
Thanks

[2017-05-29 04:26] nikul1993 commented on #429
hello @aitboudad

recently we have talk about this issue, have you find any solution, please let me know.

thanks.

[2017-05-29 08:15] aitboudad commented on #429
I'm on it right now and sorry for the delay ;)

[2017-05-29 09:08] aitboudad commented on #429
Firstly update `ng-formly` into `rc7` then apply the following changes: https://github.com/formly-js/ng-formly/pull/434/commits/1166bf8f70a21886b692c03531aacdb39e775605

[2017-05-29 09:08] #429 closed

[2017-05-29 10:40] zipilid opened #435 "Type Configuration Validation"
I wrote custom field type, that has a validation:

types: [
        {
            name: 'fieldType', extends: 'input', defaultOptions: {
                validators: {
            validation: FormlyValidationService.doublenumberValidator,
                },
            },
        }
]

in the schema, I have a field that uses the new type:

 {
                    "key": "nameOfField",

[2017-05-29 11:16] nikul1993 commented on #429
hello @aitboudad

Thanks for you quick replay.

i have reset my form using this

resetForm() {
    this.form.reset({
		applicationname:'',
		company:'',
		applicationlogo:'',
		applicationorder:'',
		gstatus:'',
    });
  }

when i click on reset button it also show me error message instated of blank the input field.

[2017-05-29 11:19] aitboudad commented on #429
@nikul1993 can you open a new issue with a reproduction example thanks!

[2017-05-29 15:48] franzeal commented on #435
The control is a [FormControl](https://angular.io/docs/ts/latest/api/forms/index/FormControl-class.html).  I'm not aware of a nice way to do what you want.  The validators are only passed the `FormControl`:  https://github.com/formly-js/ng-formly/blob/master/src/core/services/formly.form.builder.ts#L199

I worked around this (for both expressions and validators) by binding these when the field is

[2017-05-30 04:30] nikul1993 opened #436 "reproduction example"
@aitboudad

as per new changes in plugin can you modify the example. so that we have get idea about click on submit button validation. related to this issue : Click on Submit validation message call #429

and right now i face an issue that i click on reset button it also show the validation messages. in current example you click on submit button 2 times and click on reset button then validation me

[2017-05-30 09:52] aitboudad commented on #436
@nikul1993 you just need to reset `submitted` option:

[code]

[2017-05-31 09:36] nikul1993 commented on #436
Hello @aitboudad
It's Working and helpful.
Thanks for your support...!

[2017-05-31 09:45] aitboudad commented on #436
great!

[2017-05-31 09:45] #436 closed

[2017-05-31 10:09] #431 closed

[2017-05-31 15:05] Gaedr opened #437 "Problem with updating the data"
**I'm submitting a ...**
[code]

**Current behavior**
I'm doing a component compound of two elements, the left side have a list of elements and the right side the form generated with formly.

Every type of element of the left side have different fields that is because sometime I click on the element produce an event that load data and the field require and substitute actual form data and field wit

[2017-05-31 15:26] aitboudad commented on #437
Hi @Gaedr It would be helpful if you can provide us a reproduction example,
refering to the data please ensure you have passing a new ref of object

[code]

[2017-05-31 16:15] Gaedr commented on #437
It's difficult to export this functionality to plunkr because it is a part of a big component and it's too hard to isolate functionality, so this is the code referenced to issue.

This is html referenced to formly:
[code]
And this is the code that load component:
[code]
`node`contains a bit information about component like type, id and name.
[code]

`getModelByNode()` retrieves an object with a lo

[2017-05-31 16:21] mohammedzamakhan commented on #437
@Gaedr you don't have to make exactly what you are doing in your project, just a small dummy example which demos the behavior should be enough.

[2017-05-31 17:48] Gaedr commented on #437
This is a bit example of a dummy demo
http://plnkr.co/edit/LnJ4jjSM9OX6t0k2LpGT?p=preview

[2017-05-31 21:59] mohammedzamakhan commented on #437
@Gaedr that example doesn't work on my system 😞

[2017-05-31 22:46] aitboudad commented on #437
@mohammedzamakhan FormlyBootstrapModule is missing on the provided example you just need to include it on ngModule.

[2017-05-31 22:46] aitboudad commented on #437
I left you this issue :)

[2017-06-01 07:21] Gaedr commented on #437
I fixed the plnkr adding the `FormlyBootstrapModule`

[2017-06-01 09:09] Almar opened #438 "Please update CHANGELOG.md"
Hey all,

First of all, thank you for the awesome library. I have a request; could you please update the CHANGELOG.md file?

Thanks

[2017-06-01 10:51] aitboudad commented on #438
updated, see https://github.com/formly-js/ng-formly/blob/master/CHANGELOG.md

[2017-06-01 10:51] #438 closed

[2017-06-01 11:08] aitboudad commented on #335
Integrate material in core will force use to drop supporting `angular v2.0`, right now we have two choice:
1- Dropping support of angular 2 (BC break)
2- Include Material in a separate package (not my preferred one)

Let me know WDYT ?

[2017-06-01 15:41] aitboudad commented on #404
I decided to keep the className for `FormlyForm` even if `fieldGroup` is present this will introduce a BC break but we don't have a choice:

- when using `className` it should refer to the root element `<formly-field>`
- in order to apply className for  `<formly-form>` when using `fieldGroup` you should define the class name in `fieldGroupClassName` option.

### Before
[code]

### After
[code]

[2017-06-01 17:09] mohammedzamakhan commented on #437
@Gaedr I see that you change fields based upon logic.

I think the best solution to this is to use `hideExpression` and solve it, see the working example

http://plnkr.co/edit/uXu1bzLqnmbc3nkMshql?p=preview

[2017-06-01 17:14] mohammedzamakhan commented on #335
I think since we are still in release candidate, we can drop support for angular v2.0, and when we release it, we will support v4.0+.

But yeah, we should do some voting from the existing users of the library.

[2017-06-01 19:13] rjsteinert commented on #335
It would be cool to see some statistics on the matter, but my guess is that Angular 4 installations will soon dwarf Angular 2 installations.

[2017-06-01 22:00] franzeal commented on #335
The maintenance of backwards compatibility up to this point has been very appreciated.  I'm stuck on Angular 2 for the moment, though this would certainly apply pressure to upgrade.  My opinion hasn't [changed](https://github.com/formly-js/ng-formly/issues/335#issuecomment-279177758); you could just throw this side-effect in as another reason I'd like to see them separated.

I don't use the built-

[2017-06-02 04:28] franzeal commented on #437
Try this:
http://plnkr.co/edit/c0MTUdQJfMDU3SfwYRZ8?p=preview

In general, if you recycle your `formly-form` with disparate fields, it's a good idea to reset them the same time you're resetting the model (options too if you're using those) as well as deep copy the fields you ever give to the `formly-form`, because it will mutate them with additional state which may cause odd behavior.

[2017-06-02 08:52] #437 closed

[2017-06-05 08:18] zipilid commented on #435
I didn't clearly understand the work around.
could you plz attach a code sample?
Thanks.

[2017-06-06 06:35] franzeal commented on #435
http://plnkr.co/edit/tq0gqBvbtjxWm1vC9Rou?p=preview

It isn't perfect, but gives you the gist.  It fits my use case, but for the example I also wanted validation messages to come through.  I couldn't get that to occur without including a dummy validator on the field and haven't figured out why.

[2017-06-06 11:20] zipilid commented on #435
Gracias! worked perfect for me.

[2017-06-06 18:33] #435 closed

[2017-06-07 03:34] hnguyenec opened #444 "radio buttons is exclusive in different Fields"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I have checked: https://ng2.angular-formly.com/guides/introductory-example.html
Title 1 and Title 2 are radio button typed field
Select an option in either Title1 or Title 2 will "exclusive" another
**Expected behavior**

An Option of a radio-typed field should "exclusive" others of the same field
**Minimal reproduction o

[2017-06-07 20:00] rjsteinert commented on #390
I found [this example](https://stackoverflow.com/a/34616143) useful. `this.form.valueChanges.subscribe(data => console.log('Form changes', data));`

[2017-06-08 06:27] hnguyenec commented on #444
solved

[2017-06-08 06:27] #444 closed

[2017-06-08 12:39] hnguyenec opened #445 "Dependency between fields of different groups"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

 I have been using idea of formly-repeat-section to group all related fields in groups
Eg:
- groupA has field1, field2
- group B has field3, field4
The model will be generated corresponding :
formModel = {
   "groupA": [ {
       "field1": "",
       "field2": ""
    } ],
   "groupB": [ {
       "field3": "",
       "fiel

[2017-06-09 02:58] franzeal commented on #445
I typically do this type of complex inter-field communication between some combination of services, observables (either part of the service or the form/controls themselves), and lifecycle events.

If you want to put together a minimal plunker to set up the problem I'd be happy to toy with it.

[2017-06-09 09:33] karser opened #446 "what is the latest version?"
[CHANGELOG](https://github.com/formly-js/ng-formly/blob/master/CHANGELOG.md) says the latest version is 1.0.0-rc.8
[npm package](https://www.npmjs.com/package/ng-formly) says it's 1.0.0-rc.9
The latest github [tag/release](https://github.com/formly-js/ng-formly/tags) is 1.0.0-rc.7

[2017-06-09 11:12] hnguyenec commented on #445
Thanks franzeal, I have decided to go with fieldGroup so that model will be flat as 1 level json data

[2017-06-09 11:12] #445 closed

[2017-06-09 11:54] aitboudad commented on #446
fixed, the last version is `1.0.0-rc.9` and there no relevant changes between `rc.8` and `rc.9`.

[2017-06-09 11:54] #446 closed

[2017-06-09 13:45] mikaelcom commented on #357
sorry but we souldn't have to create our own logic to disable the button but to only use the `form.$valid` value as parameter to the disabled input, don't you think ?

[2017-06-12 12:10] nikul1993 opened #448 "multicheckbox validation issue"
Hello team,

 I just found that in radio button it take a validation message on submit button but in multicheckbox it can't show the validation message.

**radio button:**
                       {
				type: 'radio',
				key: 'LoginTypes',
				className: 'col-sm-4 col-xs-12',
				templateOptions: {
					options: [{
						key: 'google',
						value: 'Google',
					}, {
						key: 'facebook',
						v

[2017-06-12 18:35] mohammedzamakhan commented on #448
can you post the link for plnkr please.

[2017-06-16 10:34] nikul1993 commented on #448
@mohammedzamakhan

Sorry for delay,
**Check this link** : https://plnkr.co/edit/sMh3QT3O2vcvUKNc2OfP?p=preview

click on submit button, there is radio working fine but multicheckbox is not so can you please help will appreciate

Note : we need at least one checkbox require

Thanks

[2017-06-17 05:54] franzeal commented on #448
A couple of issues here.  First is you can't use the built-in required validation here (Angular or ng-formly for that matter).

Second, the built-in mutlicheckbox type handles its own control creation but isn't setting the validation on the form group it creates.

I've updated your plunker to address the above:
https://plnkr.co/edit/v7sR6ess9GF8cWjbpDY1?p=preview

[2017-06-17 22:22] #448 closed

[2017-06-19 10:55] nikul1993 commented on #448
@franzeal

Thanks for the quick response. it is really help full.

@mohammedzamakhan  can you publish this changes.

thanks

[2017-06-19 13:33] nikul1993 opened #451 "repeatSection validation issue"
Hello team,

when i use repeatSection at that time ValidationService.emailValidator can not working and when new section add that time select box placeholder not display.

thanks

[2017-06-20 08:29] andriy101 opened #452 "repeatSection issues"
at "Introduction example" (https://ng2.angular-formly.com/guides/introductory-example.html), initial values within repeatSection are always the same and equals to the fist element in array:
`{
      "investmentName": "Formly",
      "investmentDate": "02-11-2001",
      "stockIdentifier": "FO"
    }`

although the initial model looks like:
`[
    {
      "investmentName": "Formly",
      "investme

[2017-06-20 10:28] aitboudad commented on #448
ok I'll try to release today.

[2017-06-20 11:04] aitboudad commented on #448
done!

[2017-06-20 11:09] nikul1993 commented on #448
Thanks @aitboudad

[2017-06-20 15:42] BioPhoton commented on #180
Hi @mohammedzamakhan

i created [angular-formatter-parser](https://github.com/BioPhoton/angular-formatter-parser) the AngulerJS port.

[Documentation](https://github.com/BioPhoton/angular-formatter-parser/blob/master/README.md) is available, [NPM Lib](https://www.npmjs.com/package/angular-formatter-parser) also present.
Give it a try!!!

Best Michael

[2017-06-21 08:13] bhupendrasolanki251185 opened #453 "Custom Validation"
What are the ways to create custom validations in Ng2-formly and can we create multiple custom validation on single field.

[2017-06-21 09:31] aitboudad commented on #453
see https://github.com/formly-js/ng-formly/blob/master/demo/src/app.component.ts#L80

[2017-06-21 09:42] aitboudad commented on #451
I think I know what's happen, I'm working on a fix!

[2017-06-21 10:16] aitboudad commented on #451
see #456

[2017-06-21 10:21] aitboudad commented on #452
Hi, the doc example is not up to date, please follow the demo example in https://github.com/formly-js/ng-formly/tree/master/demo
The repeat section can be found in https://github.com/formly-js/ng-formly/blob/master/demo/src/formly/types/repeatedSection.ts

we will focus on doc once we release the `v1.0`

[2017-06-21 10:21] #452 closed

[2017-06-21 10:24] bhupendrasolanki251185 commented on #453
Thanks.

[2017-06-21 10:26] #453 closed

[2017-06-21 11:48] nikul1993 commented on #451
@aitboudad

thanks for your solution and we really appreciate you But i am facing another issue. I have two issues in repeat section.

1)  when you use ValidationService in repeat section then it`s not working here is my code.

{
				className: 'col-sm-4 col-xs-12',
				key: 'email',
				type: 'input',
				templateOptions: {
					type: 'email',
					label: 'E-Mail',
					placeholder: 'E-Mail or Us

[2017-06-21 12:15] aitboudad commented on #451
1. fixed by #457
2. I'll look into it later

[2017-06-22 06:01] andriy101 commented on #452
thanks, works as expected,
BTW, if you need some help coding/developing/fixing - I would be glad to help

[2017-06-23 11:05] aitboudad opened #459 "[v2][build] follow Angular Package Format"
**I'm submitting a ...**  (check one with "x")
[code]

https://docs.google.com/document/d/1CZC2rcpxffTDfRDs6p1cfbmKNLA6x5O-NtkJglDaBVs/preview

[2017-06-23 11:07] aitboudad opened #460 "[v2] use `ng-template` instead of `ng-container`"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-06-23 11:08] aitboudad opened #461 "[v2] drop support of angular 2"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-06-23 11:09] aitboudad opened #462 "[v2] replace deprecated `Renderer` by `Renderer2`"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-06-23 11:25] aitboudad opened #463 "[karma] replace PhantomJS with Chrome headless."
**I'm submitting a ...**  (check one with "x")
[code]

[2017-06-23 11:29] nikul1993 opened #464 "how to add custom Attribute in input"
Hello team,

I need to add custom attribute in input field for add angular plugin functionality so can you please provide option for **custom attribute** it will fix my many issues and very important for us.

Thank you very much for your support 😃 .
Best regards,

[2017-06-23 11:47] aitboudad opened #466 "[v2][npm] switch into `@ng-formly` or `@ngx-formly` ?"
**I'm submitting a ...**  (check one with "x")
[code]

This will allow use to group the dependencies:

-  `@ng-formly/core`
-  `@ng-formly/ui-bootstrap`
-  `@ng-formly/ui-material`

[2017-06-23 15:57] mohammedzamakhan commented on #464
@nikul1993 for now we do not support adding custom attribute, but yes, you can support it by creating a new type in your project.

[2017-06-23 16:04] mohammedzamakhan commented on #466
Or maybe just @formly, since we have already registered and it is more easy to remember?

[2017-06-23 16:05] mohammedzamakhan opened #467 "Add new contributors"
We need to add new contributors on readme who are coming up with new issues, and helping us improve the package with their bugs and suggestions

[2017-06-24 12:32] marcodafonseca opened #468 "Model binding doesn't always work"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I have various API calls throughout my system and the results of these calls are often the model for my formly forms. Some pages work perfectly while a few act strangely and I just can't figure out what is different between the two as they seem almost identical to me.

**Expected behavior**
Model meant to maintain its bind

[2017-06-24 15:24] franzeal commented on #468
This is what I would suggest:
https://github.com/formly-js/ng-formly/issues/437#issuecomment-305686401

[2017-06-25 19:40] marcodafonseca commented on #468
@franzeal That did the trick! Thank you so much. I was at a complete loss about this issue...

However, could you help me understand why this did the trick? I'm still pretty new to Angular2 and, in turn, ng2-formly... Or could you point me to an article?

[2017-06-25 20:24] franzeal commented on #468
My suggestion causes formly to re-build its underlying reactive form (the Angular `FormControl`, `FormGroup`, `FormArray` structure).  Changing the model instance alone will instead patch the value of the reactive form.

I've found Angular's `patchValue` to be problematic in this instance because it assumes the reactive forms align with the new model structure; in particular this falls flat with `

[2017-06-26 09:22] nikul1993 commented on #464
@mohammedzamakhan

Can you give me some detail about this. I am new in angular 4

[2017-06-26 12:44] andriy101 opened #469 "repeatSection with HTTP requests"
hello,

I forked your example plunker, here it is minified version: https://plnkr.co/edit/bQjoEm2E8C6woK6psFo5?p=preview.   it imitates two-steps form, selectbox within repeatSection should be filled via HTTP get request to 'data.json', received data should be assigned to templateOptions.options.

The problem:   on initial load (2 repeat sections with select boxes) selectbox options are not popula

[2017-06-26 22:31] mohammedzamakhan commented on #464
https://ng2.angular-formly.com/guides/ng-bootstrap-datepicker.html This example has created a new type `datepicker`. check app.ts of the example

[2017-06-27 07:02] ultimafirez opened #470 "repeatSection does not properly show initialized model"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Initializing the repeat section with a model array of two objects does not properly render the second object in the form. The repeatSection shows two copies of the first object initialized in the model. Additionally, the add button will continue to add copies of the first model.

**Expected behavior**
If the repeat section

[2017-06-27 07:08] nikul1993 commented on #451
Hello @aitboudad

hope you are doing good..
have you get chance to look on second issue.

Thanks,

[2017-06-27 08:23] aitboudad commented on #451
sorry, not yet :(

[2017-06-28 02:46] franzeal commented on #470
https://plnkr.co/edit/l6peH8jFj4ygkWB2LQA4?p=preview

Update your `repeatSection` type to match what's in the source [demo](https://github.com/formly-js/ng-formly/blob/master/demo/src/formly/types/repeatedSection.ts).

You cannot reset the model with the form or simply by changing the model binding, particularly with a `FormArray` involved (which is what the `repeatSection` utilizes).  Formly sits

[2017-06-28 03:23] franzeal commented on #469
I've updated your plunker:
https://plnkr.co/edit/DjsD7rRbkQYa55XclatJ?p=preview

[2017-06-28 09:23] nikul1993 opened #471 "maxlength exceeded"
Hello Team,

Right now we are using Validators.maxLength(10) for the max length and after it goes to more then 10 character it shows message but it is possible to prevent the keyboard typing...?

like this https://plnkr.co/edit/PPe2srNajki0PFGHHmdk?p=preview in name field after 24 character it cannot type any thing.

thanks

[2017-06-28 09:29] nikul1993 commented on #464
Thanks @mohammedzamakhan

[2017-06-28 11:30] bhupendrasolanki251185 opened #472 "Load JSON with http service"
I have create JSON file and put the valid json structure as per fomly, and load with http service but it is not working, but if i put that same json in component then it is working fine

JSON file
[
    {
        "fieldGroupClassName": "row",
        "fieldGroup": [
            {
                "key": "firstName",
                "type": "input",
                "className": "col-md-6",

[2017-06-28 17:14] ultimafirez commented on #470
Thanks @franzeal. I guess the repeatSection I used was from the outdated demo website. Your solution works!

[2017-06-28 17:27] ultimafirez commented on #470
@franzeal One thing I noticed with your solution is that the ngSubmit from the form is fired every time a new investment is added. Is this intentional or another defect?

[2017-06-29 02:20] franzeal commented on #472
[code]

You can't take a JavaScript object that includes function references, escape those references with double quotes and expect things to work.  There are examples in the [demo](https://github.com/formly-js/ng-formly/blob/master/demo/src/app.component.ts#L190) that will jive with fields declared in JSON.

[2017-06-29 04:39] franzeal commented on #471
Here is one approach that would involve providing a custom input type:
https://plnkr.co/edit/bJoAfePwEbPkk0hziU5m?p=preview

[2017-06-29 06:47] bhupendrasolanki251185 commented on #472
As suggested in example it is showing me an error and i have made entry in JSON as suggested

**JSON Entry**
 {
                fieldGroupClassName: 'row',
                fieldGroup: [
                    {
                        className: 'col-md-6',
                        type: 'input',
                        key: 'street',
                        validators: {
                            v

[2017-06-29 07:09] franzeal commented on #472
You can't reference a validator as a string without defining it in the formly config.  Please refer to the [demo](https://github.com/formly-js/ng-formly/blob/master/demo/src/formly/index.ts#L24).

[2017-06-29 11:27] DDeis opened #473 "How to add a class to a form input only and not on the formly-field ?"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I'm using Bootstrap 4 and I got a formly form working with this setup:
[code]

However, I want to use the `form-control-sm` class to save up space in my form. ([Bootstrap 4 documentation](https://v4-alpha.getbootstrap.com/components/forms/#control-sizing))

It's supposed to be used like that:
[code]
But I can't find a way

[2017-06-29 11:40] nikul1993 commented on #471
Hello @franzeal ,

I Seen your demo and we want exactly like that but can you please add those functionality  into plugin ..?
so we can manage perfectly in our project
we really appreciate 😄

Thanks

[2017-06-29 17:41] ultimafirez commented on #473
What you can do is create a custom field type that takes in a templateOption property like "inputClass" and have it bind to the input's ngClass.

Example: https://plnkr.co/edit/k0kkTqhxquhwsQuN8pmb?p=preview

[2017-06-29 17:49] ultimafirez commented on #471
As with the original angular formly, this is not default behaviour. I don't see how or why the custom input type provided by @franzeal would be harder to manage in your project.

There are definitely use cases where certain requirements for a project would allow for users to type beyond the max length, showing validation when the user does exceed this max length. With that said, its easier to just

[2017-06-30 04:06] franzeal commented on #471
I definitely encourage getting comfortable with using custom types.

There's a lot of documentation between the [demo](https://github.com/formly-js/ng-formly/tree/master/demo/src/formly) and the [website](https://ng2.angular-formly.com/guides/ng-bootstrap-timepicker.html) that demonstrate extensability of formly specifically through custom types.  The only thing unique in this instance is that in

[2017-06-30 08:36] #473 closed

[2017-06-30 08:36] DDeis commented on #473
Hello @ultimafirez,

Thank you for your response, it works perfectly! I was heading to a similar solution but wasn't what was the good way of doing it. Your example with additional properties will also be a great help to create other custom type I'm thinking about.

Your answer helped me to better understand how ng-formly works, but I'm still trying to sort it all out and I still have some interro

[2017-06-30 11:23] mohammedzamakhan commented on #471
I personally would love to see #253 to be resolved which let's you add dynamic attributes to the type. That would let a lot of cases where you have to create new type eliminated.

Extending a type and using a new type component would be helping in your case

[2017-07-01 10:22] franzeal commented on #473
The import of `FormlyBootstrapModule` will have already configured a type by the name `input`.  When you configure a type by the same name it updates the existing type instance, overwriting its properties except for wrappers.  The relevant places in the source that enable this behavior:
https://github.com/formly-js/ng-formly/blob/master/src/core/src/services/formly.config.ts#L69 (type instance wil

[2017-07-02 20:01] #470 closed

[2017-07-03 09:50] DDeis commented on #473
Thank you it makes sense now !

[2017-07-05 07:35] andriy101 commented on #469
Thanks for your reply, I would like to stay with arrow functions implementation of ng4 life hooks, do you have an explanations why my original solution does not work on initial load while working for further newly added elements? thanks in advance

[2017-07-06 04:40] franzeal commented on #469
When you're modifying `userFields[2].fieldArray.fieldGroup[0]` you're not modifying the reference that's being bound to by the select type.  Fields provided to the repeat section's nested `FormlyForm`'s are cloned, this is why only the new instances receive your options (you've updated only the source of the cloned fields).

Just to demonstrate, I've excluded the options from cloning in the repeat

[2017-07-06 04:50] franzeal commented on #469
When you're modifying `userFields[2].fieldArray.fieldGroup[0]` you're not modifying the reference that's being bound to by the select type.  Fields provided to the repeat section's nested `FormlyForm`'s are cloned, this is why only the new instances receive your options (you've updated only the source of the cloned fields).

In this plunker, I update the source in addition to the instance referenc

[2017-07-07 16:19] #468 closed

[2017-07-07 16:30] marcodafonseca opened #474 "Setting up of custom field types"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`It is possible to wrap a formly type to add custom styling\layouts, but it is not possible to replace the formly type as removing the <template #formController></template> from the wrapper causes issues.
This then also causes issues with formly's internal validation as it no longer seems to know how to validate fields. It

[2017-07-08 07:19] mohammedzamakhan commented on #474
Is this something that you are looking for?? https://plnkr.co/edit/PuTTvr8z0isAEvUA9xj6?p=preview

[2017-07-08 07:20] #464 closed

[2017-07-08 07:33] marcodafonseca commented on #474
That looks perfect! Thank you! :D

[2017-07-08 07:33] #474 closed

[2017-07-09 17:29] DDeis opened #475 "Custom "multilang" field: hide a field without removing its FormControl"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I'm trying to create a custom formly type to have multilanguage fields.
So I created a 'multilang' type that generates a field group containing a field for each language and specify the `hideExpression` to have it displayed only when it matches the current lang.

It's working fine for a simple field like an input: [https:

[2017-07-10 05:37] nikul1993 commented on #451
Hello @aitboudad

hope you are doing good..
have you get chance to look on second issue, which we discussed few weeks ago, actually its bit important for me to execute and get solution on above issues.

Thanks,

[2017-07-10 09:04] aitboudad commented on #451
I'm on it right now!

[2017-07-10 09:50] aitboudad commented on #451
fixed by #476, can you please check it, thanks!

[2017-07-10 09:54] aitboudad opened #477 "[components] use OnPush change detection"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-07-10 10:16] aitboudad commented on #475
I can't figure out what did you get when you use `hideExpression`, both examples works for me!

[2017-07-10 11:15] DDeis commented on #475
Hello @aitboudad, thank you for looking into my problem.

It works with hideExpression but the comportement is a bit erratic.

For instance:

1. **Add `IPTC 2` from the _English_ tab**: then `English keyword 3`, `French keyword 3` and `German keyword 3` are added on each tabs as expected.

2. **Remove `IPTC 2` from the _English_ tab**: only `English keyword 3` will be removed but if we switch lang

[2017-07-10 11:51] nikul1993 commented on #451
Hello @aitboudad

It's working on repeated section but at first time select box placeholder not showing.

[2017-07-10 12:02] aitboudad commented on #451
It's depend on the provided value, can you check it if it's `undefined` ?

[2017-07-10 12:24] nikul1993 commented on #451
Hello @aitboudad

I didn't provide the value to the select box.

it show the templateOptions{ placeholder:'Login Option *' }. and when i provide the value to the select box in repeated section it replace with placeholder.

[2017-07-10 12:30] aitboudad commented on #475
`hideExpression` detach the `formControl` from it's parent so model changes won't take account if the field is hidden and it's an expected behavior.

Right now you can use the bellow workaround in `FormlyMultilangField::buildMultilangField` by moving `hideExpression` inside fieldGroup:

[code]
until we find a better solution for your use-case.

[2017-07-10 12:37] aitboudad commented on #451
I'm not able to reproduce you issue, can you please provide me an example ?

[2017-07-10 13:15] nikul1993 commented on #451
Hello @aitboudad

Please check this https://plnkr.co/edit/mmosJfWLteJg99g0eUYM?p=preview .

in this example input placeholder repeat but select box placeholder not.

[2017-07-10 13:38] DDeis commented on #475
Thanks a lot for the workaround it works like a charm!

[2017-07-10 14:27] aitboudad commented on #451
I was expected the empty value is `undefined` so it's depend on the use-case, in your example it's empty string '' so I think the issue can be solved by using `defaultValue`:
[code]

[2017-07-10 17:11] aitboudad commented on #451
Please reopen if you still got the issue

[2017-07-10 17:11] #451 closed

[2017-07-11 06:51] nikul1993 commented on #451
Thanks @aitboudad it is working.

[2017-07-11 11:03] aitboudad opened #478 "Add `Formly` prefix to Field, FieldType and FieldWrapper classes"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-07-11 14:39] aitboudad opened #479 "[tests][karma] use headless chrome"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-07-11 16:35] mohammedzamakhan commented on #479
Isn't this duplicate of #463 ?

[2017-07-11 16:36] #475 closed

[2017-07-11 17:02] aitboudad commented on #479
yep completely forgot it :)

[2017-07-11 17:02] #479 closed

[2017-07-11 17:03] aitboudad commented on #459
we will use https://github.com/dherges/ng-packagr

[2017-07-11 17:42] aitboudad opened #480 "Deploy to npm with Travis CI"
**I'm submitting a ...**  (check one with "x")
[code]

[2017-07-16 14:47] MaxSassen opened #481 "Read Only Form | readOnly manipulators for formly"
**I'm submitting a ...**
[code]

**Current behavior**
ReadOnly on the form is not available by default.

**Expected behavior**
Same behavior as [angular-formly](http://angular-formly.com/#/example/other/read-only-form)

**What is the motivation / use case for changing the behavior?**
As a User I wan't to be able to enable "edit-mode" and the labels will turn into Inputs.

**What have I tried:**
I

[2017-07-16 15:33] mohammedzamakhan commented on #481
Check the example from this repo, which shows how to implement read only forms

https://github.com/formly-js/ng-formly/blob/master/demo/src/app.component.ts#L450

[2017-07-16 16:23] MaxSassen commented on #481
@mohammedzamakhan thanks but this will only disable the fields, instead of manipulating the html.
`'templateOptions.disabled': '!formState.readOnly',`

[2017-07-16 20:55] franzeal commented on #481
@MaxSassen this is a simple approach you could take:
https://plnkr.co/edit/R1ERvqK97HcQjwJymoaT

You'd probably want to adjust how it's styled, but it should give you the idea.

[2017-07-17 01:05] hnguyenec opened #482 "formly is not fully compatible with IE"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I have tried with demo on IE11 and the app was not run

![ngformlyie1](https://user-images.githubusercontent.com/635548/28252891-dd888f18-6adf-11e7-8ff8-77f222e4dd64.PNG)

**Expected behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**P

[2017-07-17 07:06] MaxSassen commented on #481
@franzeal Thank you for the plunkr url. I will try to implement it into my code.

[2017-07-17 12:37] chrisekelley opened #483 "How to contribute examples? Here is a plnkr of a custom field component."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Current Introductory example has everything but the kitchen sink. It is useful, but examples that show specific capabilities would be easier to understand.
**Expected behavior**

Folks interested in contributing their own plunks could easily add them to the [Introductory Example/Guide](https://ng2.angular-formly.com/guide

[2017-07-17 12:50] #481 closed

[2017-07-17 21:01] mohammedzamakhan commented on #483
https://github.com/formly-js/ng2.angular-formly.com

[2017-07-17 21:01] #483 closed

[2017-07-17 21:02] mohammedzamakhan commented on #482
Did you include the polyfills required to run Angular projects and tried?

[2017-07-18 00:22] hnguyenec commented on #482
Hi @mohammedzamakhan
I did install core-js
The polyfills libraries already imported as I can see in bootstrap.ts
[code]

Now, instead of throwing the previous errors, the demo is stuck at Loading ......
Nothing is logged to console as well

[2017-07-18 06:11] bhupendrasolanki251185 opened #484 "Add element on run time"
Is is possible to add element dynamically on runtime, If user click on button then elements can append to page dynamically using formly and How?

[2017-07-20 06:48] NomanYaqoob commented on #461
@aitboudad  any plan for Angular 4 updates ?

[2017-07-20 07:36] aitboudad commented on #461
@NomanYaqoob Angular 4 is already supported, have you encountered any issue ?

[2017-07-20 10:58] DDeis opened #485 "Project build fails with AOT and validators in ConfigOption"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I created an example project to demonstrate a simple use of ng-formly following the [readme](https://github.com/DDeis/ng-formly/blob/master/README.md) and the [introductory example](https://ng2.angular-formly.com/guides/introductory-example.html) when I try to build it with AOT it fails with the following error:

[code]

[2017-07-20 12:24] bhupendrasolanki251185 opened #486 "Dynamically adding element using json is not working properly"
1. Load formly element using angular service,
- So I have created one JSON file and put all UI design JSON schema in that JSON file and load that file using Angular Service.

2. Modify JSON structure as per screen design and implement functionality like Add Element, Delete Element
•	So I have create Add row functionality, which is creating rows dynamically on Add Row button.
•	I have create Delete

[2017-07-20 15:08] DDeis commented on #459
Hi @aitboudad, any update on this?
I'm trying to make my own library with **ng-formly** as a dependency to share my custom types between projects, but building the lib with ng-packagr fails, maybe because ng-formly doesn't follow _Angular Package Format_ yet ?

I can try to make a PR to use **ng-packagr** to build **ng-formly** if needed.

[2017-07-20 17:55] aitboudad commented on #459
not yet but already done on my local but right now you can use `@ng-formly/core` which follow Angular Package Format

[2017-07-20 19:49] aitboudad commented on #485
Try with:
[code]

Note: `required` validator is provided by default no need to provide it in the config

[2017-07-21 09:26] DDeis commented on #485
Thank you @aitboudad ! I should have thought about trying something like this...

I was just trying simple things I saw in the [readme](https://github.com/formly-js/ng-formly/blob/master/README.md) and [guides](https://ng2.angular-formly.com/guides/) but duly noted for futur developments :)

[2017-07-21 09:26] #485 closed

[2017-07-21 10:12] DDeis commented on #459
Many thanks sir, It works much better with it! I didn't knew that `@ng-formly/core` was available :)